<div>
    <div class="line-style" style="padding: 0px;">
        <img width="100%" style="position: relative;" src="../../assets/images/footer_1.png">
    </div>
    <div class="line-style">
        <div class="line-style-container">
            <div class="line-1">
                <img width="100%" class="separation-line" src="../../assets/images/lineLimit.png">
            </div>
            <div class="logo-as-line">
                <img class="logo-aut" src="../../assets/images/white.png">
            </div>
            <div class="line-2">
                <img width="100%" class="separation-line" src="../../assets/images/lineLimit.png">
            </div>
        </div>
    </div>
    <div class="button-contactenos">
        <div class="button-contactenos-container">
            <div class="button-c1">Contactenos</div>
            <div class="button-c2">Contactenos</div>
            <div class="button-c3">Contactenos</div>
            <div class="button-c4">Contactenos</div>
        </div>
    </div>
    <div class="banner-housing-ext">
        <div class="banner-housing-container">
            <div class="img-bnhouse"><img width="100%" class="busi-logo" src="../../assets/images/logoBusi.png"></div>
            <div class="text-bnhouse">
                <div class="bnhouse-txt2">Powered by Autonomo System.</div>
            </div>
        </div>
    </div>
    <div class="footer">
        © 2020 All rights reserved.
    </div>
</div>