.banner-housing-ext  
    background-color: #3E3E4A
.banner-housing-container
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    background-color: #3E3E4A
    margin-bottom: 23px
    margin-top: 23px
.img-bnhouse
    grid-column: 1 / span 1
    grid-row: 1
    padding: 10px 0px
    text-align: center
    padding-right: 360px
.busi-logo
    width: 64px
    height: auto
.logo-aut
    width: 210px
.logo-as-line
    text-align: center
.text-bnhouse
    grid-column: 1 / span 1
    grid-row: 1
    padding: 10px 0px
    text-align: left
    padding-right: 35px
.bnhouse-txt2, .footer
    color: #ffffff
.bnhouse-txt2
    text-align: center
    padding-left: 100px
    font-family: mons
    font-weight: 500
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
    padding-top: 15px
    padding-bottom: 15px
.footer
    text-align: center
    padding: 30px 0px
    font-size: 14px
    background-color: #27272E
    font-family: mons
    font-weight: 400
    font-stretch: normal
    font-style: normal
    letter-spacing: normal