.line-style
    padding: 0px
    background-color: #FFFFFF
.line-style2
    background-color: #3E3E4A
    padding: 0px 100px
.line-style-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr
    background-color: #3E3E4A
.busi-logo2
    display: none
.button-contactenos
    background-color: #3E3E4A
    padding: 0px 300px
.button-contactenos-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr
    background-color: #3E3E4A
.button-c1, .button-c2, .button-c3, .button-c4
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
    font-size: 16px
.button-c1
    color: #ffffff
    text-align: right 
    grid-column: 1 / span 1
    grid-row: 1
    padding: 20px 0px
    cursor: pointer
.button-c2
    color: #ffffff
    text-align: center
    grid-column: 2 / span 1
    grid-row: 1
    padding: 20px 0px
    cursor: pointer
.button-c3
    color: #ffffff
    text-align: center      
    grid-column: 3 / span 1
    grid-row: 1
    padding: 20px 0px
    cursor: pointer
.button-c4
    color: #ffffff
    text-align: left        
    grid-column: 4 / span 1
    grid-row: 1
    padding: 20px 0px
    cursor: pointer
.banner-housing-ext  
    background-color: #3E3E4A
.banner-housing-container
    display: grid
    grid-template-columns: 45% 55%
    grid-template-rows: 1fr
    background-color: #3E3E4A
.img-bnhouse
    grid-column: 1
    grid-row: 1
    padding: 10px 0px
    text-align: right
    padding-right: 20px
.busi-logo
    width: 64px
    height: auto
.logo-aut
    width: 210px
.logo-as-line
    text-align: center
.text-bnhouse
    grid-column: 2
    grid-row: 1
    padding: 10px 0px
    text-align: left
    padding-right: 35px
.bnhouse-txt2, .footer
    color: #ffffff
.bnhouse-txt2
    padding-left: 20px
    font-family: mons
    font-weight: 500
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
    padding-top: 15px
    padding-bottom: 15px
.footer
    text-align: center
    padding: 30px 0px
    font-size: 14px
    background-color: #27272E
    font-family: mons
    font-weight: 400
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
@media only screen and (min-width: 1920px)
    .line-style
        background-color: #FFFFFF
    .line-style2
        padding: 0px 12.75%
@media only screen and (max-width: 1024px)
    .button-contactenos
        padding: 0px
@media only screen and (max-width: 768px)
    .banner-housing-container
        grid-template-rows: 70px
        grid-template-columns: 40% 60%
    .busi-logo2
        display: block
        width: 64px
        height: auto
        float: left
        position: relative
        top: -17px
    .bnhouse-txt2
        padding-left: 0px
        font-size: 14px
        text-align: left
    .line-1, .line-2
        display: none
    .button-contactenos
        display: none
    .logo-as-line
        grid-column: 2 /span 1
        grid-row: 1
    .line-style2
        padding: 0px
        margin-top: 0px
    .line-style-container
        grid-template-columns: 1fr auto 1fr
    .text-bnhouse
        padding-right: 12px
@media only screen and (max-width: 450px)
    .banner-housing-container
        grid-template-columns: 35% 65%
@media only screen and (max-width: 375px)
    .banner-housing-container
        grid-template-columns: 30% 70%
    .img-bnhouse
        padding-right: 4px
    .text-bnhouse
        padding-right: 0px
@media only screen and (max-width: 320px)
    .banner-housing-container
        grid-template-columns: 25% 75%