<div class="ourservicesContainer">
    <div class="headerAutonomohome">
        <div class="logoAuto"> Logo de autonomo</div>
        <div class="menuAuto"> Opciones</div>
      </div>
    <div class="serviceComp">
        <div class="imgSer">Imagen o icono</div>
        <div class="descSer">Texto Descriptivo</div>
    </div>
    <div class="contactBox">
        <div class="contectAdress">Datos de Dirección</div>
        <div class="sendus">Formulario</div>
      </div>
      <div class="footerFinal">
        <div class="logoF">Logo Autonomo</div>
        <div class="opcF">Opciones</div>
        <div class="copyF">Copyright</div>
      </div>
</div>