.ourservicesContainer
    display: grid
    grid-template: 115px 520px 606px 281px/ 1fr
.headerAutonomohome
    border: 1px solid
    display: grid
    grid-template: auto/ 1fr minmax(542px, 1fr)
.logoAuto, .menuAuto, .imgSer, .descSer, .contectAdress, .sendus, .logoF, .opcF, .copyF
    border: 1px solid
.serviceComp
    border: 1px solid
    display: grid
    grid-template: auto/ 393px 1fr
.contactBox
    border: 1px solid
    display: grid
    grid-template: auto / 371px  1fr
.footerFinal
    border: 1px solid
    display: grid
    grid-template: 111.3px 53.7px 116px/ 1fr
@media only screen and (max-width: 768px)
    .containerAutonomoHome
        grid-template: 63px 821px 949px 199px/ 1fr
    .headerAutonomohome
        grid-template: auto/80% 20%
    .serviceComp
        grid-template: 193px auto/ 1fr
