<div class="ourservicesContainer">
  <div class="headerAutonomohome">
    <div class="logoAuto"  (click)="this.backHome()">
      <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
    </div>
    <div class="menuAuto">
      <div class="webMenu">
        <div class="aboutUsBoxMenu" *ngFor="let menuItem of this.language.content.menu ; let i = index"
        (click)="this.goToId1(i)">
          {{menuItem.text}}</div>
      </div>
      <div class="mobileMenu" (click)="this.showMenuMobile()">
          <img class="auxBtn" src="../../assets/images/autonomoNewPage/bar-icon2.png">
      </div>
    </div>
    <div class="menuMobileStyl" *ngIf="this.menuMobile==true" [@EnterLeave]>
      <div class="aboutUsBoxMenu suportMob" (click)="this.goToIdM(i)"
        *ngFor="let menuItem of this.language.content.menu ; let i = index">{{menuItem.text}}</div>
    </div>
  </div>
  <div class="serviceComp paddingEmpty" *ngIf="this.idService==1">
    <div class="imgSer">
      <img class="adjustIcon" src="../../assets/images/autonomoNewPage/service01.png">
    </div>
    <div class="descSer">
      <div class="titleService">{{this.language.content.servicesTitleA}}</div>
      <div class="serviceTitleBlue">{{this.language.content.services[0].title}}</div>
      <div class="descriptionOfService" [innerHTML]="this.language.content.servicesDescription[0].description"></div>
    </div>
  </div>
  <div class="serviceComp paddingEmpty" *ngIf="this.idService==2">
    <div class="imgSer">
      <img class="adjustIcon" src="../../assets/images/autonomoNewPage/service02.png">
    </div>
    <div class="descSer">
      <div class="titleService">{{this.language.content.servicesTitleA}}</div>
      <div class="serviceTitleBlue">{{this.language.content.services[1].title}}</div>
      <div class="descriptionOfService" [innerHTML]="this.language.content.servicesDescription[1].description" style="padding-bottom: 0px;">
      </div>
      <div class='descriptionOfService'>
        {{this.language.content.infoCloud}} <span class="linkDirect" (click)="this.clickHereInfra()">{{this.language.content.clickHTitle}}</span>
      </div>
    </div>
  </div>
  <div class="serviceComp paddingFull" *ngIf="this.idService==3">
    <div class="imgSer">
      <img class="adjustIcon" src="../../assets/images/autonomoNewPage/service03.png">
    </div>
    <div class="descSer">
      <div class="titleService">{{this.language.content.servicesTitleA}}</div>
      <div class="serviceTitleBlue">{{this.language.content.services[2].title}}</div>
      <div class="descriptionOfService" [innerHTML]="this.language.content.servicesDescription[2].description"></div>
    </div>
  </div>
  <div class="serviceComp paddingEmpty" *ngIf="this.idService==4">
    <div class="imgSer">
      <img class="adjustIcon" src="../../assets/images/autonomoNewPage/service04.png">
    </div>
    <div class="descSer">
      <div class="titleService">{{this.language.content.servicesTitleA}}</div>
      <div class="serviceTitleBlue">{{this.language.content.services[3].title}}</div>
      <div class="descriptionOfService" [innerHTML]="this.language.content.servicesDescription[3].description"></div>
    </div>
  </div>
  <div class="serviceComp paddingEmpty" *ngIf="this.idService==5">
    <div class="imgSer">
      <img class="adjustIcon" src="../../assets/images/autonomoNewPage/service05.png">
    </div>
    <div class="descSer">
      <div class="titleService">{{this.language.content.servicesTitleA}}</div>
      <div class="serviceTitleBlue">{{this.language.content.services[4].title}}</div>
      <div class="descriptionOfService" [innerHTML]="this.language.content.servicesDescription[4].description"  style="padding-bottom: 0px;">
      </div>
    </div>
    <app-plans-box class="plBoxItemComp"></app-plans-box>
  </div>
  <div class="serviceComp paddingEmpty" *ngIf="this.idService==6">
    <div class="imgSer">
      <img class="adjustIcon" src="../../assets/images/autonomoNewPage/service06.png">
    </div>
    <div class="descSer">
      <div class="titleService">{{this.language.content.servicesTitleA}}</div>
      <div class="serviceTitleBlue">{{this.language.content.services[5].title}}</div>
      <div class="descriptionOfService" [innerHTML]="this.language.content.servicesDescription[5].description"></div>
    </div>
  </div>
  <div class="serviceComp paddingFull" *ngIf="this.idService==7">
    <div class="imgSer">
      <img class="adjustIcon" src="../../assets/images/autonomoNewPage/service07.png">
    </div>
    <div class="descSer">
      <div class="titleService">{{this.language.content.servicesTitleA}}</div>
      <div class="serviceTitleBlue">{{this.language.content.services[6].title}}</div>
      <div class="descriptionOfService" [innerHTML]="this.language.content.servicesDescription[6].description"></div>
    </div>
  </div>
  <app-send-email></app-send-email>
  <div class="footerFinal">
    <div class="logoF">
      <img width="100%" class="as-logo-princ centeringF" src="../../assets/images/white.png">
    </div>
    <div class="opcF">
      <div class="itemFC" (click)="this.goToId1(i)" *ngFor="let menuItem of this.language.content.menu ; let i = index">
        {{menuItem.text}}</div>
    </div>
    <div class="copyF">{{this.language.content.copyrightText}}</div>
  </div>
</div>