<div class="ourservicesContainer">
  <div class="headerAutonomohome">
    <div class="logoAuto">
      <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
    </div>
    <div class="menuAuto">
      <div class="webMenu">
        <div class="aboutUsBoxMenu">About Us</div>
        <div class="servicesBoxMenu">Services</div>
        <div class="howWeWorkBoxMenu">How we work</div>
        <div class="projectsBoxMenu">Projects</div>
        <div class="contactBoxMenu">Contact</div>
      </div>
      <div class="mobileMenu">
        <div>
          <img class="auxBtn" src="../../assets/images/autonomoNewPage/bar-icon2.png">
        </div>
      </div>
    </div>
  </div>
  <div class="serviceComp">
    <div class="imgSer">Imagen o icono</div>
    <div class="descSer">Texto Descriptivo</div>
  </div>
  <div class="contactBox">
    <div class="contectAdress">
      <div class="locationTitle">LOCATION</div>
      <div class="adressesTitle">Addresses</div>
      <div class="city1">Bogotá</div>
      <div class="address1">Cra. 58 #117-50</div>
      <div class="lineSep"></div>
      <div class="city2">México</div>
      <div class="address2">Calle 1</div>
    </div>
    <div class="sendus">
      <div class="contTitle">CONTACT</div>
      <div class="sendUsTitleContact">Send us a Message</div>
      <div class="formBox">
        <input class="nameBox" placeholder="Your name">
        <input class="emailBox" placeholder="Your email">
        <select class="selectBox">
          <option disabled value="">Project Type</option>
          <option value="pw">Web Development</option>
          <option value="am">Mobile App</option>
          <option value="in">Infrastructure</option>
          <option value="bi">Business intelligence</option>
        </select>
      </div>
      <input class="descriptionForWrite" placeholder="Write a brief description of your project.">
      <div class="buttonWorkMob">
        <div class="startProjectsTxtButton">
          See all our projects
        </div>
      </div>
    </div>
  </div>
  <div class="footerFinal">
    <div class="logoF">
      <img width="100%" class="as-logo-princ centeringF" src="../../assets/images/white.png">
    </div>
    <div class="opcF">
      <div class="itemFC">About us</div>
      <div class="itemFC">Services</div>
      <div class="itemFC">How we work</div>
      <div class="itemFC">Projects</div>
      <div class="itemFC">Contact</div>
    </div>
    <div class="copyF">© 2020 Autonomo System - All rights reserved.</div>
  </div>
</div>