<div class="container-fluid">
    <div id="demo" class="carousel slide vert" data-ride="carousel" data-interval="10000">
        <div class="productItems">
            <div class="column1">
                <div class="carousel-indicators">
                    <div data-target="#demo" data-slide-to="0" class="item active">
                        <div class="img-pr2">
                            <img class="pr2" src="../../assets/images/movil_web.png">
                        </div>
                        <div>
                            <div class="text-products4">
                                <div class="ffItem">
                                    <div class="text-products-title">
                                        MOBILES AND WEB APPLICATIONS
                                    </div>
                                    <div class="text-products-description">
                                        The past few years have seen a dramatic change in the public perception of
                                        cosmetic
                                        surgery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-target="#demo" data-slide-to="1" class="item">
                        <div class="img-pr2">
                            <img class="pr3" src="../../assets/images/inactive.png">
                        </div>
                        <div>
                            <div class="text-products4">
                                <div class="ffItem">
                                    <div class="text-products-title">
                                        CLOUD STORAGE
                                    </div>
                                    <div class="text-products-description">
                                        Microsoft Azure
                                        <br>
                                        Google Cloud
                                        <br>
                                        Amazon web Services
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-target="#demo" data-slide-to="2" class="item">
                        <div class="img-pr2">
                            <img class="pr4" src="../../assets/images/inactive2.png">
                        </div>
                        <div>
                            <div class="text-products4">
                                <div class="ffItem">
                                    <div class="text-products-title">
                                        DIGITAL MARKETING
                                    </div>
                                    <div class="text-products-description">
                                        Digital campaigns manager
                                        <br>
                                        Massive email and SMS sending
                                        <br>
                                        Referall programs
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div id="image1" class="computer-img"></div>
                        Ver mas
                    </div>
                    <div class="carousel-item">
                        <div id="image2" class="computer-img2"></div>
                        Ver mas
                    </div>
                    <div class="carousel-item">
                        <div id="image3" class="computer-img3"></div>
                        Ver mas
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>