<div class="container-fluid">

    <div id="demo" class="carousel slide vert" data-ride="carousel" data-interval="3000">
  
      <div class="row no-gutters">
  
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
          <div class="carousel-indicators">
            <div data-target="#demo" data-slide-to="0" class="item active"><img src="http://placehold.it/100x50&amp;text=slide1" alt=""></div>
            <div data-target="#demo" data-slide-to="1" class="item"><img src="http://placehold.it/100x50&amp;text=slide2" alt=""></div>
            <div data-target="#demo" data-slide-to="2" class="item"><img src="http://placehold.it/100x50&amp;text=slide3" alt=""></div>
            <div data-target="#demo" data-slide-to="3" class="item"><img src="http://placehold.it/100x50&amp;text=slide4" alt=""></div>
            <div data-target="#demo" data-slide-to="4" class="item"><img src="http://placehold.it/100x50&amp;text=slide5" alt=""></div>
            <div data-target="#demo" data-slide-to="5" class="item"><img src="http://placehold.it/100x50&amp;text=slide6" alt=""></div>
          </div>
        </div><!-- col-sm-4 Indicators -->
  
  
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="http://placehold.it/400x200&amp;text=slide1" alt="">
              <div class="content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="http://placehold.it/400x200&amp;text=slide2" alt="">
              <div class="content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="http://placehold.it/400x200&amp;text=slide3" alt="">
              <div class="content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="http://placehold.it/400x200&amp;text=slide4" alt="">
              <div class="content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="http://placehold.it/400x200&amp;text=slide5" alt="">
              <div class="content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="http://placehold.it/400x200&amp;text=slide6" alt="">
              <div class="content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
              </div>
            </div>
          </div><!--inner-->
        </div><!-- col-sm-6  -->
  
  
      </div><!--row-->
    </div><!--container--></div>
