
<div class="description">
    <div class="imageCont">
        <img width="100%" src="../../assets/images/ourServices-backgrounds/markDigital.png">
    </div>
    <div class="descCont">
        Digital Marketing is the set of strategies aimed at promoting a brand on the internet. It differs from
        traditional marketing in that it includes the use of channels and methods that allow the analysis of
        results in real time.
        <br>
        We carry out platforms at the level of marketing campaigns, with the purpose that customers can obtain
        offers from your business, based on the correct logic to create advertising campaigns.
        <br><br>
        It is a strategy with the objective of attracting new businesses, which develops a new brand identity.
        Strategies where they are directed to the subject of communication and marketing of goods and services.
        <br><br>
        The advantage offered to the client is to be able to communicate directly to the public to arrive at an
        appropriate moment when giving the publicity that is offered.
        It can be related to organizations taking into account the cultural, psychological, geographic, and
        legal factors that influence people when buying or selling a product or service.
    </div>
</div>