<div class="container">
    <div class="header">
        <img width="100%" height="100%" class="encabezado-autonomo" src="../../assets/images/banner-min768.png">
        <div class="as-logo-main">
                <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
            </div>
            <div class="menu-as">
                    <div class="menu-as-items">
                        <div class="menu-solutions">Solutions</div>
                        <div class="menu-tech">Technologies</div>
                        <div class="menu-services">Services</div>
                        <div class="menu-contact-us">Contact Us</div>
                    </div>
                </div>
    </div>
  
    
    <div class="image-as">
        <div class="big-text-as">
            <div class="big-title-as">
                Automate
                <br>
                your business.
            </div>
            <div class="desc-title-as">
                We do data analysis, artificial intelligence, software
                <br>
                development and cloud computing
            </div>
        </div>
    </div>
    <div class="technologies">
        <div class="technologies-1">
            <div class="logo-1"><img width="100%" class="py-logo" src="../../assets/images/pyLogo.png"></div>
            <div class="logo-2"><img width="100%" class="php-logo" src="../../assets/images/phpLogo.png"></div>
            <div class="logo-3"><img width="100%" class="react-logo" src="../../assets/images/reactLogo.png"></div>
            <div class="logo-4"><img width="100%" class="ionic-logo" src="../../assets/images/ionicLogo.png"></div>
            <div class="logo-5"><img width="100%" class="chcar-logo" src="../../assets/images/csharpLogo.png"></div>
            <div class="logo-6"><img width="100%" class="aws-logo" src="../../assets/images/awsLogo.png"></div>
            <div class="logo-7"><img width="100%" class="ang-logo" src="../../assets/images/angularLogo.png"></div>
            <div class="logo-8"><img width="100%" class="php-logo" src="../../assets/images/phpLogo.png"></div>
        </div>
    </div>
    <div class="text-autonomo-is">
        <div class="as-box">
            <div class="autonomo-is-title">
                <b>Autonomo Is</b>
            </div>
            <div class="characteristics-autonomo">
                <div class="descripion-as-char">
                    <ul>
                        <li>A company with over 16 years of experience in the software development industry.</li>
                        <li>WEB and mobile develop based applications with custom integration to fit clients needs.</li>
                        <li>The best service by creating technological solutions to enhance the growth to your business.
                        </li>
                        <li>You can count on us to assist your bussiness in the automatization of your processes.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="autonomo-products">
        <div class="products">
            <div class="products-1">
                <div class="img-pr2"><img class="pr2" src="../../assets/images/movil_web.png"></div>
            </div>
            <div class="products-2">
                <div>
                    <h1>
                        MOBILES AND WEB APPLICATIONS
                    </h1>
                    <br>
                    The past few years have seen a dramatic change in the public perception of cosmetic surgery.
                </div>
            </div>
            <div class="products-3">
                <div class="img-pr2"><img class="pr2" src="../../assets/images/inactive.png"></div>
            </div>
            <div class="products-4">
                <div class="text-products4">
                    <h1>
                        CLOUD STORAGE
                    </h1>
                    <ul>
                        <li>
                            Microsoft Azure
                        </li>
                        <li>
                            Google Cloud
                        </li>
                        <li>
                            Amazon web Services
                        </li>
                    </ul>
                </div>
            </div>
            <div class="products-5">
                <div class="img-pr2"><img class="pr2" src="../../assets/images/inactive2.png"></div>
            </div>
            <div class="products-6">
                <div class="text-products4">
                    <h1>
                        DIGITAL MARKETING
                    </h1>
                    <ul>
                        <li>
                            Digital campaigns manager.
                        </li>
                        <li>
                            Massive email and SMS sending.
                        </li>
                        <li>
                            Referall programs
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="computer-img">
        <img width="100%" class="computer-company" src="../../assets/images/computer.png">
    </div>
    <!--Eso lo ajusta Jesus-->
    <div class="carousel-as">
        <div id="slides_control" class="slides_web">
            <carousel interval="this.myInterval">
                <slide>
                    <div class="products-left ">

                        <div class="products-location">
                            <div class="padding-text-carrusel">
                                <div class="comunication-text centrado ">
                                    Location
                                </div>
                                <div class="comunication-text  padding-text-carrusel-int">
                                    Our offices are located in a comfortable Time Zone to communicate with our clients in North America, Canada, Europe and Latin America.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="products-right">
                        <div class="products-comunication">
                            <div class="padding-text-carrusel">
                                <div class="comunication-text centrado">
                                    Comunication
                                </div>
                                <div class="comunication-text justificado padding-text-carrusel-int">
                                    The native command of English by our English team, we close the gap, so that our clients can feel at home.
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="products-left">
                        <div class="products-location2">
                        </div>
                    </div>
                    <div class="products-right">
                        <div class="products-comunication2">
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <div class="ai-text-general"></div>
    <div class="ai-title">
        <div class="text-ai-title">
            <b>Inteligencia Artificial</b>
        </div>
    </div>
    <div class="ai-description">
        <div class="text-ai-description">
            <p>
                We have a specialized team in areas such as web development, mobile, infrastructure and business intelligence with more than 16 years in the area.
            </p>
            <p style="padding-bottom: 10px;">
                Counting with clients from different countries in the areas of telecommunications, insurance, laboratories, we can enhance their processes.
            </p>
            <p style="padding-bottom: 10px;">
                We focus on development in C#, Angular, React, Sql Server, Cloud computing
            </p>
        </div>
    </div>
    <div class="ai-button">
        <div class="ai-button-txt"><b>Prueba nuestro demo</b></div>
    </div>
    <div class="ai-logo"><img width="100%" class="world-logo-company" src="../../assets/images/map.png"></div>
    <div class="message-title">
        <div class="txt-msg-title">
            <b>Envíenos un Mensaje</b>
        </div>
    </div>
    <div class="message-name">
        <input type="text" class="redondeadonorelieve" placeholder="Nombre">
    </div>
    <div class="message-email"><input type="text" class="redondeadonorelieve-1" placeholder="Correo electronico"></div>
    <div class="project-type"><select class="redondeadonorelieve-1">
            <option value="tp">Tipo de proyecto</option>
        </select></div>
    <div class="message-description">
        <textarea class="redondeadonorelieve-2" placeholder="Descripción del Proyecto"></textarea>
    </div>
    <div class="message-buttons"></div>
    <div class="contact-button">
        <div class="contact-button-txt">Contactarnos</div>
    </div>
    <div class="reset-button">
        <div class="reset-button-txt">Reset</div>
    </div>
    <div class="line-style"></div>
    <div class="line-1"><img width="100%" class="separation-line" src="../../assets/images/lineLimit.png"></div>
    <div class="logo-as-line"><img width="100%" class="as-logo" src="../../assets/images/logoAutonomo.png"></div>
    <div class="line-2"><img width="100%" class="separation-line" src="../../assets/images/lineLimit.png"></div>
    <div class="button-contactenos"></div>
    <div class="button-c1">Contactenos</div>
    <div class="button-c2">Contactenos</div>
    <div class="button-c3">Contactenos</div>
    <div class="button-c4">Contactenos</div>
    <div class="banner-housing-ext"></div>
    <div class="img-bnhouse"><img width="100%" class="busi-logo" src="../../assets/images/logoBusi.png"></div>
    <div class="text-bnhouse">
        <div class="bnhouse-txt1">Equal Housing Oportunity Lender. Vylla Loan,</div>
        <div class="bnhouse-txt2">powered by Carrington Mortgage Services, LLC.</div>
    </div>
    <div class="footer"> © 2019 Vylla Loan, powered by Carrington Mortgage Services, LLC and affiliates. All rights
        reserved. Vylla is proud to give back to our veterans.</div>
</div>