.container
    max-width: 100% !important
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 200px 1336px 100px 200px 600px 846px 233.33px 233.33px 233.33px 115px 80px 80px 200px 100px 120px 100px 120px 80px
    border: 1px solid red

.carouselGrid
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr
    border: 1px solid red
.menu-as    
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 1 / span 1
    margin: 20px
.menu-as-items
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 
    border: 1px solid red
    height: 159px
.menu-solutions, .menu-tech, .menu-services, .menu-contact-us
    border: 1px solid red
    color: #ffffff
    font-weight: 500
    font-size: 18px
    text-align: center
    padding: 60px 0px
    cursor: pointer
.as-box
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 60px 140px
    border: 1px solid red
.descripion-as-char
    width: 56%
    margin: 0 auto
.carouselGrid-1
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 1 / span 1
.carouselGrid-2
    border: 1px solid red
    grid-column: 2 / span 1
    grid-row: 1 / span 1

.products
    display: grid
    grid-template-columns: 100px 1fr
    grid-template-rows: 1fr 1fr 1fr
    border: 1px solid red
    height: 100%
.products-1
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 1 / span 1
.products-2
    border: 1px solid red
    grid-column: 2 / span 1
    grid-row: 1 / span 1
.products-3
    border: 1px solid blue
    grid-column: 1 / span 1
    grid-row: 2 / span 1

.products-4
    border: 1px solid red
    grid-column: 2 / span 1
    grid-row: 2 / span 1
.text-products4
    color: #B6B6BB
.products-5
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 3 / span 1

.products-6
    border: 1px solid red
    grid-column: 2 / span 1
    grid-row: 3 / span 1
.header
    border: 1px solid red
    grid-column: 1 
    grid-row: 1 / span 2
.as-logo-main
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 1 / span 1
    margin: 20px
    padding: 30px 0px
.image-as
    border: 1px solid red
    grid-column: 1  / span 1
    grid-row: 2
.logo-1, .logo-2, .logo-3, .logo-4, .logo-5, .logo-6, .logo-7, .logo-8
    border: 1px solid red
    text-align: center
    padding: 20px 0px
.technologies
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
.technologies-1
    display: grid
    grid-template-columns: repeat(8,1fr)
    grid-template-rows: 1fr
.logo-1
    grid-column: 1 / span 1
    grid-row: 1
.logo-2
    grid-column: 2 / span 
    grid-row: 1
.logo-3
    grid-column: 3 / span 1
    grid-row: 1
.logo-4
    grid-column: 4 / span 1
    grid-row: 1
.logo-5
    grid-column: 5 / span 1
    grid-row: 1
.logo-6
    grid-column: 6 / span 1
    grid-row: 1
.logo-7
    grid-column: 7 / span 1
    grid-row: 1
.logo-8
    grid-column: 8 / span 1
    grid-row: 1
.text-autonomo-is
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 4
.autonomo-is-title
    text-align: center
    color: #3E3E4A
    font-size: 36px
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 1 / span 1
.characteristics-autonomo
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 2 / span 1
.autonomo-products
    border: 1px solid red
    grid-column: 1 /span 1
    grid-row: 5
.products-text1
    width: 82%
    float: left
.products-text2
    width: 83%
    float: left
    color: #C2C2C5
.product-mobile-and-web2
    margin-top: 90px
.computer-img
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 5
.carousel-as
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 6
.ai-text-general
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 7 / 10
    background-color: #3E3E4A
.ai-logo
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 7 / 10
    background-color: #3E3E4A
.ai-title
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 7
.ai-description
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 8
    padding-left: 20px
.text-ai-title
    font-size: 66px
    color: #FF9209
    margin-top: 20px
    padding-left: 20px
.text-ai-description
    color: #F3F3F4
    font-size: 16px
.big-title-as
    text-align: center
    font-size: 110px
    font-weight: 500
    color: #ffffff
.desc-title-as
    text-align: center
    font-size: 34px
    font-weight: 500 
    color: #EEC52F
.big-text-as
    padding-top: 24%
.ai-button
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 9
    margin: 60px 20%
    background-color: #FF9209
    cursor: pointer
.ai-button-txt
    color: #FFFEFC
    text-align: center
    font-size: 35px
    padding: 30px 0px
.message-title
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 10
.txt-msg-title
    color: #3E3E4A
    font-size: 50px
.message-name
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 11
    padding-left: 30px
.redondeadonorelieve
    width: 98%
    border-radius: 5px
    border: 1px solid #ffffff
    background-color: #E4E4E4
    color: #8F8892
    height: 75px
    font-size: 18pt
    font-weight: 500
.redondeadonorelieve-1
    width: 100%
    border-radius: 5px
    border: 1px solid #ffffff
    background-color: #E4E4E4
    color: #8F8892
    height: 75px
    font-size: 18pt
    font-weight: 500
.redondeadonorelieve-2
    width: 100%
    border-radius: 5px
    border: 1px solid #ffffff
    background-color: #E4E4E4
    color: #8F8892
    height: 190px
    font-size: 18pt
    font-weight: 500
.message-email
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 11
    padding-right: 30px
.project-type
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 12
    padding: 0px 30px
.message-description
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 13
    padding: 0px 30px
.message-buttons
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 14
.contact-button
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 14
    margin: 19px 30px 19px 30px
    background-color: #FF9209
    cursor: pointer
.contact-button-txt
    padding: 15px 0px
    color: #ffffff
    font-weight: 500
    text-align: center
.reset-button
    border: 3px solid #BDBDBD
    grid-column: 1 / span 1
    grid-row: 14
    margin: 19px 55px 19px 30px
    cursor: pointer
.reset-button-txt
    padding: 15px 0px
    font-weight: 500
    text-align: center
.line-style
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 15
    background-color: #3E3E4A
.line-1
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 15
    padding: 30px 0px
.logo-as-line
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 15
    padding: 32px 0px
.line-2
    border: 1px solid red
    grid-column:1/ span 1
    grid-row: 15
    padding: 30px 0px
.button-contactenos
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 16
    background-color: #3E3E4A
.button-c1
    border: 1px solid red
    grid-column: 1
    grid-row: 16
    margin: 10px
.button-c2
    border: 1px solid red
    grid-column: 1
    grid-row: 16
    margin: 10px
.button-c3
    border: 1px solid red
    grid-column: 1
    grid-row: 16
    margin: 10px
.button-c4
    border: 1px solid red
    grid-column: 1
    grid-row: 16
    margin: 10px
.button-c1, .button-c2, .button-c3, .button-c4
    color: #ffffff
    font-weight: 500
    padding: 10px 10px 10px 10px
.banner-housing-ext
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 17
    background-color: #3E3E4A
.img-bnhouse
    border: 1px solid red
    grid-column: 1
    grid-row: 17
    margin: 10px
.text-bnhouse
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 17
    margin: 10px
.bnhouse-txt1, .bnhouse-txt2, .footer
    color: #E6E6E8
.footer
    border: 1px solid red
    grid-column: 1 / span 1
    grid-row: 18
    text-align: center
    padding: 22px 0px
    font-size: 20px
    background-color: #27272E
/*Inicio del estilo del carrusel*/
.slides_content
    background: #f2f2f2
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    padding-bottom: 20%
    margin-top: 2%
    display: table
    width: 100%
.slides_web
    display: table
    width: 100%
.panelPaquetes
    padding-bottom: 60px
.plandisptitle
    height: auto
    padding: 8px 5px
    width: 100%
    -webkit-border-top-left-radius: 4px
    -webkit-border-top-right-radius: 4px
    -moz-border-radius-topleft: 4px
    -moz-border-radius-topright: 4px
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    background-color: #1f97ae
    color: #fff
    font-size: 18px
    font-family: Roboto,sans-serif
    font-weight: 700
    text-align: center
.vcenter
    display: table!important
    height: 100%
.plandispcont
    border-top: 0
    font-family: 'Roboto', sans-serif
    font-weight: 400
    color: #222222
    width: 100%
    height: auto
    float: left
    padding: 18px 27px
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px
    border: 1px solid #cccccc
    background-color: #ffffff
.servs-plans
    width: 150px
    height: auto
    float: none
    display: inline-block
    margin: 0 auto
.basicrow.m-top.button-choose
    margin-left: 25%
    width: 43%
    height: 20px
.caja-plan-sug
    margin-top: 16px
    position: relative
    min-height: 1px
    padding-left: 15px
.caja-oferta.padtop-data
    padding: 5px
.titulo-caja
    text-align: left
    margin-top: -24px
/*Fin del estilo del carrusel*/
/*Tamaño de las imagenes*/
.py-logo, .php-logo, .ang-logo, .react-logo, .ionic-logo, .chcar-logo, .aws-logo
    width: 60px
    height: 60px
.busi-logo
    width: 80px
    height: 80px
    float: right
.computer-company
    width: 100%
.caracteristicas-company
    width: 80%
    height: 100%
.pr1
    width: 80px
    height: 80px
    float: left
.pr2
    width: 78px
    height: 61px
    float: left
.pr3
    width: 78px
    height: 61px
    float: left
.products-left
    width: 50%
    float: left
    height: 845px
    padding-right: 10px
.products-right
    width: 50%
    float: left
    height: 845px
    padding-left: 10px
.products-location
    background-image: url("../../assets/images/location.png")
    width: 100%
    height: auto
    background-size: cover
.products-comunication
    background-image: url("../../assets/images/comunication.png")
    width: 100%
    height: auto

.products-location2
    background-image: url("../../assets/images/comunication.png")
    width: 100%
    height: 100%
.products-comunication2
    background-image: url("../../assets/images/location.png")
    width: 100%
    height: 100%

.comunication-text
    font-family: Montserrat
    font-size: 24px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 1.34
    letter-spacing: normal
    color: #ffffff

.padding-text-carrusel
    padding: 40% 20px 20px 20px
.padding-text-carrusel-int
    padding: 20px 60px 20px 50px
.centrado
    text-align: center
.justificado
    text-align: justify

/*ajustes para diferentes versiones*/
@media only screen and (max-width: 1260px)
    .ai-button-txt
        font-size: 24px
