.contentAutonomo
    background-color: #3E3E4A
.logoAutonomo
    padding: 0px 100px
    cursor: pointer
.logoAt 
    width: 190px
@media only screen and (min-width: 1920px)
    .logoAutonomo
        padding: 0px 12.75%
@media only screen and (max-width: 768px)
    .logoAutonomo
        padding: 0px 5%
    .logoAt 
        width: 140px