.contentAutonomo
    background-color: #3E3E4A
    padding: 0px 50px
.logoAutonomo
    cursor: pointer
.logoAt 
    width: 190px
@media only screen and (min-width: 1920px)
    .logoAutonomo
        padding: 0px 50px
    .contentAutonomo
        padding: 0px 12.75%
@media only screen and (max-width: 768px)
    .logoAt 
        width: 200px
        display: table
        margin: 0 auto