<div class="plansboxTab">
    <div class="planTab1">
        <div class="planTitle">{{this.language.content.plansText.basicTitle}}</div>
        <div class="pricesDiv">
            {{this.language.content.plansText.basicCost}}
        </div>
        <div class="spacTitle">
            <ul style="line-height: 1.5;">
                <li>{{this.language.content.plansText.descriptionBasic.description1}}</li>
                <li>{{this.language.content.plansText.descriptionBasic.description2}}</li>
                <li>{{this.language.content.plansText.descriptionBasic.description3}}</li>
            </ul>
        </div>
        <div class="buttonStyle">
            {{this.language.content.plansText.contractTitle}}
        </div>
    </div>
    <div class="planTab2">
        <div class="planTitle">{{this.language.content.plansText.plusTitle}}</div>
        <div class="pricesDiv">
            {{this.language.content.plansText.plusCost}}
        </div>
        <div class="spacTitle">
            <ul style="line-height: 1.5;">
                <li>{{this.language.content.plansText.descriptionPlus.description1}}</li>
                <li>{{this.language.content.plansText.descriptionPlus.description2}}</li>
                <li>{{this.language.content.plansText.descriptionPlus.description3}}</li>
            </ul>
        </div>
        <div class="buttonStyle">
            {{this.language.content.plansText.contractTitle}}
        </div>
    </div>
    <div class="planTab3">
        <div class="planTitle">{{this.language.content.plansText.businessTitle}}</div>
        <div class="pricesDiv">
            {{this.language.content.plansText.businessCost}}
        </div>
        <div class="spacTitle">
            <ul style="line-height: 1.5;">
                <li>{{this.language.content.plansText.descriptionBusiness.description1}}</li>
                <li>{{this.language.content.plansText.descriptionBusiness.description2}}</li>
                <li>{{this.language.content.plansText.descriptionBusiness.description3}}</li>
                <li>{{this.language.content.plansText.descriptionBusiness.description4}}</li>
                <li>{{this.language.content.plansText.descriptionBusiness.description5}}</li>
            </ul>
        </div>
        <div class="buttonStyle">
            {{this.language.content.plansText.contractTitle}}
        </div>
    </div>
</div>
<div class="plansBox">
    <div class="plan1">
        <div class="planTitle">{{this.language.content.plansText.basicTitle}}</div>
        <div class="pricesDiv">
            {{this.language.content.plansText.basicCost}}
        </div>
        <div class="spacTitle">
            <ul style="line-height: 1.5;">
                <li>{{this.language.content.plansText.descriptionBasic.description1}}</li>
                <li>{{this.language.content.plansText.descriptionBasic.description2}}</li>
                <li>{{this.language.content.plansText.descriptionBasic.description3}}</li>
            </ul>
        </div>
        <div class="buttonStyle">
            {{this.language.content.plansText.contractTitle}}
        </div>
    </div>
    <div class="plan2">
        <div class="planTitle">{{this.language.content.plansText.plusTitle}}</div>
        <div class="pricesDiv">
            {{this.language.content.plansText.plusCost}}
        </div>
        <div class="spacTitle">
            <ul style="line-height: 1.5;">
                <li>{{this.language.content.plansText.descriptionPlus.description1}}</li>
                <li>{{this.language.content.plansText.descriptionPlus.description2}}</li>
                <li>{{this.language.content.plansText.descriptionPlus.description3}}</li>
            </ul>
        </div>
        <div class="buttonStyle">
            {{this.language.content.plansText.contractTitle}}
        </div>
    </div>
    <div class="plan3">
        <div class="planTitle">{{this.language.content.plansText.businessTitle}}</div>
        <div class="pricesDiv">
            {{this.language.content.plansText.businessCost}}
        </div>
        <div class="spacTitle">
            <ul style="line-height: 1.5;">
                <li>{{this.language.content.plansText.descriptionBusiness.description1}}</li>
                <li>{{this.language.content.plansText.descriptionBusiness.description2}}</li>
                <li>{{this.language.content.plansText.descriptionBusiness.description3}}</li>
                <li>{{this.language.content.plansText.descriptionBusiness.description4}}</li>
                <li>{{this.language.content.plansText.descriptionBusiness.description5}}</li>
            </ul>
        </div>
        <div class="buttonStyle">
            {{this.language.content.plansText.contractTitle}}
        </div>
    </div>
    <div class="planSpac"></div>
    <div class="planSpac1">{{this.language.content.plansText.basicTitle}}</div>
    <div class="planSpac2">{{this.language.content.plansText.plusTitle}}</div>
    <div class="planSpac3">{{this.language.content.plansText.businessTitle}}</div>
    <div class="acT1">{{this.language.content.plansText.activitiesTitle}}</div>
    <div class="acT2">{{this.language.content.plansText.afirmative}}</div>
    <div class="acT3">{{this.language.content.plansText.afirmative}}</div>
    <div class="acT4">{{this.language.content.plansText.afirmative}}</div>
    <div class="mnG1">{{this.language.content.plansText.managerTitle}}</div>
    <div class="mnG2">{{this.language.content.plansText.afirmative}}</div>
    <div class="mnG3">{{this.language.content.plansText.afirmative}}</div>
    <div class="mnG4">{{this.language.content.plansText.afirmative}}</div>
    <div class="rpt1">{{this.language.content.plansText.reportTitle}}</div>
    <div class="rpt2">{{this.language.content.plansText.afirmative}}</div>
    <div class="rpt3">{{this.language.content.plansText.afirmative}}</div>
    <div class="rpt4">{{this.language.content.plansText.afirmative}}</div>
    <div class="gnt1">{{this.language.content.plansText.ganttTitle}}</div>
    <div class="gnt2">{{this.language.content.plansText.afirmative}}</div>
    <div class="gnt3">{{this.language.content.plansText.afirmative}}</div>
    <div class="gnt4">{{this.language.content.plansText.afirmative}}</div>
    <div class="tsk1">{{this.language.content.plansText.taskTitle}}</div>
    <div class="tsk2">{{this.language.content.plansText.afirmative}}</div>
    <div class="tsk3">{{this.language.content.plansText.afirmative}}</div>
    <div class="tsk4">{{this.language.content.plansText.afirmative}}</div>
    <div class="uP1">{{this.language.content.plansText.userPerTitle}}</div>
    <div class="uP2">{{this.language.content.plansText.afirmative}}</div>
    <div class="uP3">{{this.language.content.plansText.afirmative}}</div>
    <div class="uP4">{{this.language.content.plansText.afirmative}}</div>
    <div class="qt1">{{this.language.content.plansText.quotationTitle}}</div>
    <div class="qt2">{{this.language.content.plansText.afirmative}}</div>
    <div class="qt3">{{this.language.content.plansText.afirmative}}</div>
    <div class="qt4">{{this.language.content.plansText.afirmative}}</div>
    <div class="tcK1">{{this.language.content.plansText.ticketsTitle}}</div>
    <div class="tcK2">{{this.language.content.plansText.negative}}</div>
    <div class="tcK3">{{this.language.content.plansText.afirmative}}</div>
    <div class="tcK4">{{this.language.content.plansText.afirmative}}</div>
    <div class="dC1">{{this.language.content.plansText.documentationTitle}}</div>
    <div class="dC2">{{this.language.content.plansText.negative}}</div>
    <div class="dC3">{{this.language.content.plansText.afirmative}}</div>
    <div class="dC4">{{this.language.content.plansText.afirmative}}</div>
    <div class="dedS1">{{this.language.content.plansText.dedicatedServerTitle}}</div>
    <div class="dedS2">{{this.language.content.plansText.negative}}</div>
    <div class="dedS3">{{this.language.content.plansText.negative}}</div>
    <div class="dedS4">{{this.language.content.plansText.afirmative}}</div>
    <div class="sP1">{{this.language.content.plansText.supportTitle}}</div>
    <div class="sP2">{{this.language.content.plansText.negative}}</div>
    <div class="sP3">{{this.language.content.plansText.negative}}</div>
    <div class="sP4">{{this.language.content.plansText.afirmative}}</div>
    <div class="nU1">{{this.language.content.plansText.numOfUsersTitle}}</div>
    <div class="nU2">3</div>
    <div class="nU3">20</div>
    <div class="nU4">{{this.language.content.plansText.unlimitedTitle}}</div>
    <div class="nP1">{{this.language.content.plansText.numOfProjectsTitle}}</div>
    <div class="nP2">5</div>
    <div class="nP3">20</div>
    <div class="nP4">{{this.language.content.plansText.unlimitedTitle}}</div>
</div>
<div class="plansBoxMob">
    <div class="Planbuttons">
        <div class="basicPlanBtn" [ngClass]="{'on': this.selTab === 1 ,'': this.selTab != 1 }"
            (click)="this.statusChange(1)">{{this.language.content.plansText.basicTitle}}</div>
        <div class="plusPlanBtn" [ngClass]="{'on': this.selTab === 2 ,'': this.selTab != 2 }"
            (click)="this.statusChange(2)">{{this.language.content.plansText.plusTitle}}</div>
        <div class="businessPlanBtn" [ngClass]="{'on': this.selTab === 3 ,'': this.selTab != 3 }"
            (click)="this.statusChange(3)">{{this.language.content.plansText.businessTitle}}</div>
    </div>
    <div [ngStyle]="{'display':this.selTab === 1 ? 'block' : 'none' }">
        <div class="planBoxMobGen">
            <div class="planTitle">{{this.language.content.plansText.basicTitle}}</div>
            <div class="pricesDiv">
                {{this.language.content.plansText.basicCost}}
            </div>
            <div class="spacTitle">
                <ul style="line-height: 1.5;">
                    <li>{{this.language.content.plansText.descriptionBasic.description1}}</li>
                    <li>{{this.language.content.plansText.descriptionBasic.description2}}</li>
                    <li>{{this.language.content.plansText.descriptionBasic.description3}}</li>
                </ul>
            </div>
            <div class="buttonStyle">
                {{this.language.content.plansText.contractTitle}}
            </div>
        </div>
        <div class="tableChar">
            <div class="act1M aff">{{this.language.content.plansText.afirmative}}</div>
            <div class="act2M">{{this.language.content.plansText.activitiesTitle}}</div>
        </div>
    </div>
    <div [ngStyle]="{'display':this.selTab === 2 ? 'block' : 'none' }">
        <div class="planBoxMobGen">
            <div class="planTitle">{{this.language.content.plansText.plusTitle}}</div>
            <div class="pricesDiv">
                {{this.language.content.plansText.plusCost}}
            </div>
            <div class="spacTitle">
                <ul style="line-height: 1.5;">
                    <li>{{this.language.content.plansText.descriptionPlus.description1}}</li>
                    <li>{{this.language.content.plansText.descriptionPlus.description2}}</li>
                    <li>{{this.language.content.plansText.descriptionPlus.description3}}</li>
                </ul>
            </div>
            <div class="buttonStyle">
                {{this.language.content.plansText.contractTitle}}
            </div>
        </div>
        <div class="tableChar">

        </div>
    </div>
    <div [ngStyle]="{'display':this.selTab === 3 ? 'block' : 'none' }">
        <div class="planBoxMobGen">
            <div class="planTitle">{{this.language.content.plansText.businessTitle}}</div>
            <div class="pricesDiv">
                {{this.language.content.plansText.businessCost}}
            </div>
            <div class="spacTitle">
                <ul style="line-height: 1.5;">
                    <li>{{this.language.content.plansText.descriptionBusiness.description1}}</li>
                    <li>{{this.language.content.plansText.descriptionBusiness.description2}}</li>
                    <li>{{this.language.content.plansText.descriptionBusiness.description3}}</li>
                    <li>{{this.language.content.plansText.descriptionBusiness.description4}}</li>
                    <li>{{this.language.content.plansText.descriptionBusiness.description5}}</li>
                </ul>
            </div>
            <div class="buttonStyle">
                {{this.language.content.plansText.contractTitle}}
            </div>
        </div>
        <div class="tableChar">

        </div>
    </div>
</div>