<div class="ourservicesContainer">
    <div class="headerAutonomohome" (click)="this.backHome()">
        <div class="logoAuto">
            <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
        </div>
        <div class="menuAuto">
            <div class="webMenu">
                <div class="aboutUsBoxMenu" *ngFor="let menuItem of this.language.content.menu ; let i = index"
                    (click)="this.goToId1(i)">
                    {{menuItem.text}}</div>
            </div>
            <div class="mobileMenu">
                <div>
                    <img class="auxBtn" src="../../assets/images/autonomoNewPage/bar-icon2.png">
                </div>
            </div>
        </div>
    </div>
    <div class="serviceComp">
        <div class="serviceTitleBlue">{{this.language.content.ourProjectsTitle}}</div>
        <div class="descriptionOfService">
            {{this.language.content.ourProjectsDescription}}
        </div>
        <div class="carouselBox">
            <app-projects-carousel></app-projects-carousel>
        </div>
    </div>
    <app-send-email></app-send-email>
    <div class="footerFinal">
        <div class="logoF">
            <img width="100%" class="as-logo-princ centeringF" src="../../assets/images/white.png">
        </div>
        <div class="opcF">
            <div class="itemFC" (click)="this.goToId1(i)"
                *ngFor="let menuItem of this.language.content.menu ; let i = index">
                {{menuItem.text}}</div>
        </div>
        <div class="copyF">{{this.language.content.copyrightText}}</div>
    </div>
</div>