<div class="gridBox">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">
        <div>
            <div class="titleContent">Our Projects</div>
            <div class="description">
                Our projects have been carried out with the Angular 9 Framework with mainly international clients
                applying our corresponding techniques and in addition to the creation of our platforms to guarantee
                control of our clients.
            </div>
        </div>
        <div style="position: relative; height: 350px;">
            <app-projects-carousel></app-projects-carousel>
        </div>
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>
</div>