*:focus
    outline: none
.container
    min-width: 100%
    display: grid
    padding: 0
    grid-gap: 0px
    grid-template-columns: 1fr
    grid-template-rows: auto 768px auto auto 400px auto auto auto auto auto auto 90px auto auto auto 80px
.header-items 
    display: grid
    grid-template-columns: 1fr 1fr
.header
    grid-column: 1
    grid-row: 1 / span 2
    background-image: url("../../assets/images/hero-images.png")
    background-size: cover
    background-repeat: round
.image-as
    grid-column: 1  / span 1
    grid-row: 2
.as-logo-princ
    width: 240px
.as-logo-main
    text-align: center
    cursor: pointer
.menu-as-items
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 60px
    font-size: 20px
    padding-right: 60px
    cursor: pointer
.menu-solutions, .menu-tech, .menu-services, .menu-contact-us
    color: #ffffff
    font-weight: 800
    text-align: center
    font-family: mons
    text-decoration: none
    position: relative
    top: 12px
    margin-top: 17px
.witeTxt
    color: #ffffff
.menu-solutions:hover, .menu-tech:hover, .menu-services:hover, .menu-contact-us:hover
    border-bottom: 1px solid #ffffff
    margin-top: 17px
a
    text-decoration: none
.big-text-as
    padding-top: 245px
.big-title-as
    font-family: autonomo
    font-style: normal
    font-weight: 800
    text-align: center
    font-size: 90px
    color: #ffffff
    line-height: 1
    font-stretch: normal
    letter-spacing: normal
.desc-title-as
    font-family: mons
    font-style: normal
    font-weight: bold
    text-align: center
    font-size: 28px
    color: #EEC52F
    padding-top: 12px
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    font-stretch: normal
    line-height: normal
    letter-spacing: normal
.technologies
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    background-color: #3E3E4A
    padding: 50px 60px
.technologiesNon
    display: none
.technologies-1
    display: grid
    grid-template-columns: repeat(8,1fr)
    grid-template-rows: 1fr
.technologies-1Non
    display: none
.icon-1
    grid-column: 1 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
.icon-1Hov
    grid-column: 1 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
    opacity: 30%
.icon-1None
    display: none
.icon-2
    grid-column: 2 / span 
    grid-row: 1
    text-align: center
    padding: 20px 0px
.icon-2Hov
    grid-column: 2 / span 
    grid-row: 1
    text-align: center
    padding: 20px 0px
    opacity: 30%
.icon-2None
    display: none
.icon-3
    grid-column: 3 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
.icon-3Hov
    grid-column: 3 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
    opacity: 30%
.icon-3None
    display: none
.icon-4
    grid-column: 4 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
.icon-4Hov
    grid-column: 4 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
    opacity: 30%
.icon-4None
    display: none
.icon-5
    grid-column: 5 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
.icon-5Hov
    grid-column: 5 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
    opacity: 30%
.icon-5None
    display: none
.icon-6
    grid-column: 6 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
.icon-6Hov
    grid-column: 6 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
    opacity: 30%
.icon-6None
    display: none
.icon-7
    grid-column: 7 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
.icon-7Hov
    grid-column: 7 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
    opacity: 30%
.icon-7None
    display: none
.icon-8
    grid-column: 8 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
.icon-8Hov
    grid-column: 8 / span 1
    grid-row: 1
    text-align: center
    padding: 20px 0px
    opacity: 30%
.icon-8None
    display: none
.py-icon, .php-icon, .ang-icon, .react-icon, .ionic-icon, .chcar-icon, .aws-icon
    width: 60px
    height: 60px
.text-autonomo-is
    grid-column: 1 / span 1
    grid-row: 4
    background-color: white
.as-box
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto auto
    padding: 30px 0px
    background-color: #f2f2f2
.autonomo-is-title
    font-family: autonomo
    text-align: center
    color: #3E3E4A
    font-size: 56px
    font-weight: 800
    grid-column: 1 / span 1
    grid-row: 1 / span 1
.characteristics-autonomo
    grid-column: 1 / span 1
    grid-row: 2 / span 1
.descripion-as-char
    font-family: mons
    width: 41%
    margin: 0 auto
    line-height: 2.2
    font-weight: 600
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
    color: var(--icons)
    padding-top: 20px
.autonomo-products
    grid-column: 1 /span 1
    grid-row: 5
    background-color: #ffffff
.autonomo-products-general
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    padding-bottom: 40px
.products
    display: grid
    grid-template-columns: 220px 1fr
    grid-template-rows: 1fr 1fr 1fr
    height: 100%
.products-1.border-yellow, .products-3.border-yellow, .products-5.border-yellow
    padding-left: 10px
    cursor: pointer
.products-1
    grid-column: 1 / span 1
    grid-row: 1 / span 1
    padding-left: 120px
    cursor: pointer
.products-2
    grid-column: 2 / span 1
    grid-row: 1 / span 1
    padding-left: 20px
    cursor: pointer
.products-3
    grid-column: 1 / span 1
    grid-row: 2 / span 1
    padding-left: 120px
    cursor: pointer
.products-4
    grid-column: 2 / span 1
    grid-row: 2 / span 1
    padding-left: 20px
    cursor: pointer
.products-5
    grid-column: 1 / span 1
    grid-row: 3 / span 1
    padding-left: 120px
    cursor: pointer
.products-6
    grid-column: 2 / span 1
    grid-row: 3 / span 1
    padding-left: 20px
    cursor: pointer
.products-7
    grid-column: 1 / span 1
    grid-row: 1 / span 1
    padding-left: 120px
    cursor: pointer
.products-8
    grid-column: 2 / span 1
    grid-row: 1 / span 1
    padding-left: 20px
    cursor: pointer
.products-9
    grid-column: 1 / span 1
    grid-row: 2 / span 1
    padding-left: 120px
    cursor: pointer
.products-10
    grid-column: 2 / span 1
    grid-row: 2 / span 1
    padding-left: 20px
    cursor: pointer
.products-11
    grid-column: 1 / span 1
    grid-row: 3 / span 1
    padding-left: 120px
    cursor: pointer
.products-12
    grid-column: 2 / span 1
    grid-row: 3 / span 1
    padding-left: 20px
    cursor: pointer
.products-13
    grid-column: 1 / span 1
    grid-row: 1 / span 1
    padding-left: 120px
    cursor: pointer
.products-14
    grid-column: 2 / span 1
    grid-row: 1 / span 1
    padding-left: 20px
    cursor: pointer
.products-15
    grid-column: 1 / span 1
    grid-row: 2 / span 1
    padding-left: 120px
    cursor: pointer
.products-16
    grid-column: 2 / span 1
    grid-row: 2 / span 1
    padding-left: 20px
    cursor: pointer
.products-17
    grid-column: 1 / span 1
    grid-row: 3 / span 1
    padding-left: 120px
    cursor: pointer
.products-18
    grid-column: 2 / span 1
    grid-row: 3 / span 1
    padding-left: 20px
    cursor: pointer
.text-products-title
    font-size: 16px
    font-weight: bold
    font-family: mons
    font-stretch: normal
    font-style: normal
    line-height: 1.88
    letter-spacing: 0.44px
.text-products-description
    font-weight: 600
    font-family: mons
    font-stretch: normal
    font-style: normal
    line-height: 1.90
    letter-spacing: normal
.autonomo-products-general
    display: none
.foot1
    width: 100%
    position: relative
.ffItem:hover
    color: rgb(62, 62, 74)
.border-yellow
    border-left: 3px solid #ff9209
    float: left
    height: 100px
    color: #ffffff
    margin-left: 120px
.pr2, .pr3, .pr4
    width: 64px
.computer-img
    grid-column: 2 / span 1
    grid-row: 1 
    background-image: url("../../assets/images/computer.png")
    background-size: contain
    background-repeat: no-repeat
    width: 70%
    margin-top: 30px
.computer-imgHov
    grid-column: 2 / span 1
    grid-row: 1 
    background-image: url("../../assets/images/computer.png")
    background-size: contain
    background-repeat: no-repeat
    width: 70%
    margin-top: 30px
    opacity: 50%
.computer-img2
    grid-column: 2 / span 1
    grid-row: 1 
    background-image: url("../../assets/images/test2.jpg")
    background-size: contain
    background-repeat: no-repeat
    width: 70%
    margin-top: 30px
.computer-img2Hov
    grid-column: 2 / span 1
    grid-row: 1 
    background-image: url("../../assets/images/test2.jpg")
    background-size: contain
    background-repeat: no-repeat
    width: 70%
    margin-top: 30px
    opacity: 50%
.computer-img3
    grid-column: 2 / span 1
    grid-row: 1 
    background-image: url("../../assets/images/test3.jpg")
    background-size: contain
    background-repeat: no-repeat
    width: 70%
    margin-top: 30px
.computer-img3Hov
    grid-column: 2 / span 1
    grid-row: 1 
    background-image: url("../../assets/images/test3.jpg")
    background-size: contain
    background-repeat: no-repeat
    width: 70%
    margin-top: 30px
    opacity: 50%
.carousel-as
    grid-column: 1 / span 1
    grid-row: 6
    padding: 30px 0px
    background-color: transparent
.slides_web
    display: table
    width: 100%
.products-left
    width: 50%
    float: left
    height: auto
    padding-right: 10px
.products-location
    background-image: url("../../assets/images/location.png")
    width: 100%
    height: auto
    background-size: contain
    background-repeat: round
.padding-text-carrusel
    padding: 0px
    height: 600px
.padding-text-carrusel-int
    padding: 20px 56px 20px 56px
    text-align: justify
.centrado
    text-align: center
.justificado
    text-align: justify
.comunication-text-1
    font-family: mons
    font-size: 48px
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: 1.34
    letter-spacing: normal
    color: #ffffff
    padding-top: 20px
.comunication-text-2
    font-family: mons
    font-size: 24px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 1.34
    letter-spacing: normal
    color: #ffffff
.items-location
    position: relative
    top: 79%
    height: 130px 
    background-blend-mode: multiply
    background-image: linear-gradient(to bottom, #868585, #868585)
    opacity: 0.5                
.items-communication
    position: relative 
    top: 79%
    height: 130px 
    background-blend-mode: multiply
    background-image: linear-gradient(to bottom, #868585, #868585)
    opacity: 0.5
.item-text
    float: left
    width: 50%
    text-align: center
    padding: 25px 0px
.item-text-1
    float: left
    width: 50%
    text-align: left
    padding-left: 20px
    padding: 20px 0px
.item-text-title
    color: #ffffff
    font-size: 32px
    font-weight: 800
    font-family: autonomo
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
.item-text-title-1
    color: #ffffff
    font-size: 32px
    font-weight: 800
    padding-left: 45px
    padding-right: 20px
    font-family: autonomo
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
.item-text-description
    color: #ffffff
    font-weight: 500
    font-family: mons
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
.products-right
    width: 50%
    float: left
    height: auto
    padding-left: 10px
.products-comunication
    background-image: url("../../assets/images/comunication.png")
    width: 100%
    height: auto
    background-size: contain
    background-repeat: round
.products-location2
    background-image: url("../../assets/images/comunication.png")
    width: 100%
    height: 100%
.products-comunication2
    background-image: url("../../assets/images/location.png")
    width: 100%
    height: 100%
.ai-general 
    grid-column: 1 / span 1
    grid-row: 7
    background-color: #3F3F4B
    padding-bottom: 60px
.container-ai-general
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 233px 233px 233px
.ai-title
    grid-column: 1 / span 1
    grid-row: 1
    display: block
.ai-title2
    grid-column: 1 / span 1
    grid-row: 1
    display: none
.text-ai-title
    font-size: 50px
    color: #FF9209
    margin-top: 30px
    padding-left: 60px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
.text-ai-title-1
    font-size: 50px
    color: #FF9209
    padding-left: 60px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
.ai-description
    grid-column: 1 / span 1
    grid-row: 2
.text-ai-description
    padding-left: 60px
    color: #F3F3F4
    font-size: 16px
    text-align: justify
    font-family: mons
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
    padding-right: 80px
.text-ai-desc-1
    margin-bottom: 20px
.ai-button
    grid-column: 1 / span 1
    grid-row: 3
.ai-button-txt
    background-color: #FF9209
    cursor: pointer
    color: #FFFEFC
    text-align: center
    font-size: 26px
    padding: 25px 0px
    margin-left: 60px
    margin-top: 55px
    width: 326px
    height: 80px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
.ai-logo
    grid-column: 2/ span 2
    grid-row: 1/ span 3
    background-image: url("../../assets/images/map.png")
    background-size: contain
    background-repeat: round
.message-title
    grid-column: 1 / span 1
    grid-row: 8
    background-color: #ffffff
.txt-msg-title
    color: #3E3E4A
    font-size: 50px
    padding: 30px 60px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
.name-and-email
    grid-column: 1 / span 1
    grid-row: 9
    padding: 0px 60px
    background-color: #ffffff
.container-name-and-email
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    height: 100%
.message-name
    grid-column: 1 / span 1
    grid-row: 1
.message-email
    grid-column: 2 / span 2
    grid-row: 1
.redondeadonorelieve
    width: 98%
    border-radius: 5px
    border: 1px solid #ffffff
    background-color: #E4E4E4
    color: #8F8892
    height: 70px
    font-size: 18pt
    padding-left: 30px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
.redondeadonorelieve-1
    width: 100%
    border-radius: 5px
    border: 1px solid #ffffff
    background-color: #E4E4E4
    color: #8F8892
    height: 70px
    font-size: 18pt
    padding-left: 30px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
.redondeadonorelieve-2
    width: 100%
    border-radius: 5px
    border: 1px solid #ffffff
    background-color: #E4E4E4
    color: #8F8892
    height: 150px
    font-size: 18pt
    padding-left: 30px
    padding-top: 15px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
.project-type
    grid-column: 1 / span 1
    grid-row: 10
    padding: 25px 60px
    background-color: #ffffff
.message-description
    grid-column: 1 / span 1
    grid-row: 11
    padding: 0px 60px
    background-color: #ffffff
.message-buttons
    grid-column: 1 / span 1
    grid-row: 12
    height: 170px
    padding: 0px 60px
    background-color: #ffffff
.message-buttons-container
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    height: 100%
    margin-bottom: 45px
    margin-top: 15px
.contact-button
    grid-column: 1 / span 1
    grid-row: 1
.contact-button-txt
    padding: 15px 0px
    font-size: 20px
    color: #ffffff
    text-align: center
    background-color: #FF9209
    cursor: pointer
    float: left
    width: 300px
    height: 60px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
    margin: 0px 60px 50px 0px
.reset-button
    grid-column: 1 / span 1
    grid-row: 1
    margin-left: 320px
.reset-button-txt
    border: 3px solid #BDBDBD
    padding: 15px 0px
    font-size: 20px
    text-align: center
    cursor: pointer
    width: 167px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
    margin: 0px 60px 50px 0px
.line-style
    grid-column: 1 / span 1
    grid-row: 13
    background-color: #3E3E4A
    padding: 0px 60px
.line-style-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr
    background-color: transparent
    margin-top: 110px
.button-contactenos
    grid-column: 1 / span 1
    grid-row: 14
    background-color: transparent
    padding: 0px 300px
.button-contactenos-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr
    background-color: transparent
.button-c1, .button-c2, .button-c3, .button-c4
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
    font-size: 16px
.button-c1
    color: #ffffff
    text-align: right 
    grid-column: 1 / span 1
    grid-row: 1
    padding: 20px 0px
    cursor: pointer
.button-c2
    color: #ffffff
    text-align: center
    grid-column: 2 / span 1
    grid-row: 1
    padding: 20px 0px
    cursor: pointer
.button-c3
    color: #ffffff
    text-align: center      
    grid-column: 3 / span 1
    grid-row: 1
    padding: 20px 0px
    cursor: pointer
.button-c4
    color: #ffffff
    text-align: left        
    grid-column: 4 / span 1
    grid-row: 1
    padding: 20px 0px
    cursor: pointer
.banner-housing-ext  
    grid-column: 1 / span 1
    grid-row: 15
    background-color: transparent
.banner-housing-container
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    background-color: transparent
    margin-bottom: 0px
    margin-top: 10px
.img-bnhouse
    grid-column: 1 / span 1
    grid-row: 1
    padding: 10px 0px
    text-align: center
    padding-right: 360px
.busi-logo
    width: 64px
    height: auto
.logo-aut
    width: 210px
.logo-as-line
    text-align: center
.text-bnhouse
    grid-column: 1 / span 1
    grid-row: 1
    padding: 10px 0px
    text-align: left
    padding-right: 35px
.bnhouse-txt2, .footer
    color: #ffffff
.bnhouse-txt2
    text-align: center
    padding-left: 100px
    font-family: mons
    font-weight: 500
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
    padding-top: 15px
    padding-bottom: 15px
.footer
    grid-column: 1 / span 1
    grid-row: 16
    text-align: center
    padding: 30px 0px
    font-size: 14px
    background-color: transparent
    font-family: mons
    font-weight: 400
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
.world-logo-company
    height: auto
.curva-general
    position: relative
    top: -104px
    left: -6%
    height: 0px
.curva-general-2
    height: 200px
    -moz-border-radius: 100%
    -webkit-border-radius: 100%
    border-radius: 100%
    background: #fff
    width: 112%
    margin-top: 20px
.borde-sep
    border-left: 2px solid #ffffff
    margin-top: 3px
@media only screen and (min-width: 1920px)
    .text-autonomo-is, .as-box
        background-color: transparent
    .foot1
        position: absolute
        right: 0%
        height: 188px
    .container
        min-width: 74.5%
    .descripion-as-char
        width: 60%
    .ffItem
        padding-left: 10px
@media only screen and (max-width: 1368px)
    .descripion-as-char
        width: 70%
@media only screen and (max-width: 1280px)
    .descripion-as-char
        width: 66%
@media only screen and (max-width: 1115px)
    .menu-as-items
        font-size: 16px
@media only screen and (max-width: 1024px)
    .container-ai-general
        grid-template-rows: 233px auto 233px
    .descripion-as-char
        width: 80%
    .computer-img, .computer-img2, .computer-img3, .computer-img4, .computer-img5, .computer-img6, .computer-img7, .computer-img8, .computer-img9
        background-position: 50% 50%
        width: 95%
    .ai-logo
        background-size: cover
    .ai-button-txt
        margin-top: 45px
    .products-location, .products-comunication
        background-size: cover
    .item-text-title-1, .item-text-title
        font-size: 25px
        padding-left: 20px
        position: relative
        bottom: 20px
    .item-text-description
        padding-left: 20px
        position: relative
        bottom: 20px
    .padding-text-carrusel-int
        padding: 20px 50px 20px 50px
    .curva-general-2
        width: 116%
    .curva-general
        left: -8%
    .button-contactenos
        padding: 0px
    .autonomo-products-general
        padding-bottom: 30px
    .banner-housing-container
        margin-bottom: 23px
@media only screen and (max-width: 991px)
    .comunication-text-1, .comunication-text-2
        position: relative
        bottom: 150px
    .comunication-text-1
        font-size: 32px
    .comunication-text-2
        font-size: 20px
    .autonomo-products-general
        padding-bottom: 10px
    .computer-img, .computer-img2, .computer-img3
        background-position: 50% 50%
        width: 90%
    .padding-text-carrusel
        height: 390px
    .descripion-as-char
        width: 82%
    .curva-general
        left: -8%
    .ai-logo
        background-repeat: no-repeat
    .container
        min-width: 100%
        display: grid
        padding: 0
        grid-gap: 0px
        grid-template-columns: 100%
        grid-template-rows: auto 384px auto auto 410px auto auto auto auto auto auto auto auto auto auto 80px
    .header-items 
        display: grid
        grid-template-columns: 100%
    .header
        grid-column: 1
        grid-row: 1 / span 2
        background-image: url("../../assets/images/hero-images.png")
        width: 100%
        height: auto
    .menu-as-items
        display: none
        grid-template-columns: 1fr 1fr 1fr 1fr
        font-size: 20px
        padding-right: 60px
    .big-text-as
        padding-top: 130px
    .big-title-as
        font-size: 40px
        padding-bottom: 20px
    .desc-title-as
        font-size: 20px
@media only screen and (max-width: 768px)
    .prd2
        grid-template-rows: 101px 96px 110px !important
    .autonomo-is
        background-color: #f2f2f2
    .as-box
        background-color: #f2f2f2
    .line-style-container
        margin-top: 20px
    .items-communication
        height: 111px
    li.mobSpac
        padding-bottom: 20px
    .text-products-title
        font-size: 12px
    .text-ai-desc-1, .text-ai-desc-2
        line-height: 1.5
    .ai-title
        display: none
    .ai-title2
        display: block
    .py-icon, .php-icon, .ang-icon, .react-icon, .ionic-icon, .chcar-icon, .aws-icon
        width: 40px
        height: 40px
    .icon-8Hov
        display: none
    .items-location
        height: 110px
    .products-1.border-yellow, .products-3.border-yellow, .products-5.border-yellow, .products-7.border-yellow, .products-9.border-yellow, .products-11.border-yellow, .products-13.border-yellow, .products-15.border-yellow, .products-17.border-yellow
        padding-left: 6px
    .border-yellow
        margin-left: 48%
        padding-right: 0px
    .curva-general
        top: -100px
    .reset-button-txt
        width: 100% 
    .reset-button
        margin: 74px 0px 50px 0px
    .contact-button-txt
        width: 100%
    .button-contactenos
        display: none
    .item-text-title-1
        font-size: 20px
        padding-left: 20px
    .item-text-title
        font-size: 20px
    .comunication-text-1
        font-size: 32px
        position: relative
        bottom: 50px
    .comunication-text-2
        font-size: 20px
        position: relative
        bottom: 50px
    .padding-text-carrusel-int
        padding: 20px 20% 20px 20%
    .as-logo-princ
        width: 200px
        float: left
        margin-left: 4%
    .text-ai-title, .text-ai-title-1, .text-ai-description
        padding-left: 20px
        padding-right: 20px
    .ai-button
        margin-top: 20px
    .ai-button-txt
        display: table
        margin: 0 auto
        width: 95%
        padding: 20px 0px
        height: 50px
        font-size: 20px
    .container-ai-general
        grid-template-rows: auto auto auto
    .carousel-as
        margin-top: -35px
        padding-bottom: 0px
    .as-box
        padding-top: 20px
        padding-bottom: 0px
    .autonomo-is-title
        font-size: 32px
    .products-1, .products-2
        margin-top: 30px
    .products-2, .products-4, .products-6, .products-8, .products-10, .products-12, .products-14, .products-16, .products-18
        margin-bottom: -50px
    .products-1, .products-3, .products-5, .products-7, .products-9, .products-11, .products-13, .products-15, .products-17
        padding-left: 0%
    .header
        background-image: url("../../assets/images/hero-images-Tab.png")
    .products-location
        background-image: url("../../assets/images/locationTab.png")
        background-size: 100% 100%
        background-repeat: no-repeat
    .products-comunication
        background-image: url("../../assets/images/comunicationTab.png")
        background-size: 100% 100%
        background-repeat: no-repeat
    .computer-img
        background-image: url("../../assets/images/computerTab.png")
        width: 100%
        background-position: 50% 50%
    .computer-img2
        background-image: url("../../assets/images/test2.jpg")
        width: 100%
        background-position: 50% 50%
    .computer-img3
        background-image: url("../../assets/images/test3.jpg")
        width: 100%
        background-position: 50% 50%
    .technologies
        padding: 0px
    .technologies-1
        display: grid
        grid-template-columns: repeat(4,1fr)
        grid-template-rows: 1fr
    .icon-5, .icon-6, .icon-7, .icon-8
        display: none
    .descripion-as-char
        width: 100%
    .autonomo-products-general
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr
        padding-bottom: 80px
        height: 1px
    .products-1:hover, .products-3:hover, .products-5:hover, .products-7:hover, .products-9:hover, .products-11:hover, .products-13:hover, .products-15:hover, .products-17:hover
        border-left: 2px solid #ff9209
    .img-pr2
        margin-left: 10px
    .computer-img
        grid-column: 1/span 1
        grid-row: 1 / span 1
    .computer-img2
        grid-column: 1/span 1
        grid-row: 1 / span 1
    .computer-img3
        grid-column: 1/span 1
        grid-row: 1 / span 1
    .computer-company
        width: 100%
    .products
        grid-template-columns: 20% 1fr
        grid-template-rows: 110px 110px 110px
        grid-column: 1/span 1
        grid-row: 2 
    .products-left, .products-right
        width: 100%
        padding-right: 0px
        padding-left: 0px
    .line-1, .line-2
        display: none
    .logo-as-line
        grid-column: 2 /span 1
        grid-row: 1
    .line-style
        padding: 0px
        margin-top: 0px
    .line-style-container
        grid-template-columns: 1fr auto 1fr
    .button-contactenos
        padding: 0px
    .name-and-email, .message-description, .message-buttons
        padding: 0px 20px
    .project-type
        padding: 25px 20px
    .container-name-and-email
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr
    .message-name 
        grid-column: 1/span 1
        grid-row: 1 / sapn 1
    .message-email
        grid-column: 1 / span 1
        grid-row: 2/span 2
        margin-top: 10px
    .redondeadonorelieve, .redondeadonorelieve-1
        width: 100%
        font-size: 20px
        height: 50px
    .redondeadonorelieve-2
        width: 100%
        font-size: 20px
        height: 100px
    .txt-msg-title
        font-size: 35px
        padding: 45px 20px
    .ai-logo
        display: none
    .container-ai-general
        grid-template-columns: 1fr
    .comunication-text-2
        font-size: 24px
    .item-text-title, .item-text-title-1
        font-size: 22px
    .curva-general-2
        margin-top: 45px
    .products-location
        background-image: url("../../assets/images/locationTab.png")
    .padding-text-carrusel
        height: 530px
    .padding-text-carrusel-int
        padding: 20px 10% 20px 10%
    .item-text
        padding: 14px 0px
    .item-text-1
        padding: 22px 0px
    .text-products-description
        padding-right: 15% 
        font-size: 16px
        line-height: 1.5
    .curva-general
        left: -6%
    li
        line-height: 1.5
    .text-ai-title
        font-size: 32px
@media only screen and (max-width: 414px)
    .item-text-title-1, .item-text-title
        padding-top: 15px
    .text-products-description
        padding-right: 0%
    .item-text-title, .item-text-title-1
        font-size: 20px
    .comunication-text-2
        font-size: 20px
    .redondeadonorelieve, .redondeadonorelieve-1, .redondeadonorelieve-2
        font-size: 14pt
    .curva-general-2
        margin-top: 45px
    .padding-text-carrusel
        height: 330px
    .products-location
        background-image: url("../../assets/images/locationMov.png")
    .items-location, .items-communication
        top: 250px
        height: 80px
    .ai-button-txt
        width: 86%
        font-size: 20px
    .item-text, .item-text-1
        padding: 0px 0px
    .comunication-text-2
        font-size: 16px
    .padding-text-carrusel-int
        padding: 20px
    .comunication-text-1
        font-size: 24px
    .curva-general
        left: -6%
    .border-yellow
        margin-left: 30%
    .img-bnhouse
        padding-right: 275px
@media only screen and (max-width: 375px)
    .products
        grid-template-columns: 25% 1fr
        grid-template-rows: 147px 98px 110px
    .prd2
        grid-template-rows: 110px 120px 110px !important
    .products-1, .products-3, .products-5,  .products-7,  .products-9, .products-11, .products-13, .products-15,  .products-17
        padding-left: 0%
    .border-yellow
        margin-left: 15%
    .curva-general-2
        height: 180px
        margin-top: 51px
    .comunication-text-1
        font-size: 20px
        padding-top: 0px
    .item-text, .item-text-1
        padding: 10px 0px
    .banner-housing-container
        margin-bottom: 0px
        margin-top: 0px
    .items-location
        top: 229px
        height: 80px
    .items-communication
        top: 229px
        height: 80px
    .padding-text-carrusel
        height: 310px
    .busi-logo
        margin-left: 2%
    .bnhouse-txt2
        font-size: 14px
        padding-left: 25px
        padding-right: 0px
    .text-bnhouse
        padding-right: 0px
    .comunication-text-2
        font-size: 14px
    .padding-text-carrusel-int
        padding: 10px 45px 20px 45px
    .products-2, .products-4, .products-6,  .products-8,  .products-10, .products-12, .products-14, .products-16,  .products-18
        padding-left: 10px
        padding-right: 10px
    .computer-img
        width: 100%
    .products-6
        padding-right: 10px
    .comunication-text-1
        font-size: 30px
    .item-text-title-1
        padding-left: 9px
    .img-bnhouse
        padding-right: 0px
        text-align: left
    .txt-msg-title
        padding: 20px 20px
@media only screen and (max-width: 320px)
    .busi-logo
        margin-left: 0px
    .padding-text-carrusel-int
        padding: 10px 20px 6px 20px
    .item-text-title-1
        font-size: 16px
    .products-1, .products-3, .products-5,  .products-7,  .products-9, .products-11, .products-13, .products-15, .products-17
        padding-left: 0%
    .border-yellow
        margin-left: 14%
