<div class="container">
    <div class="header">
        <div class="header-items">
            <div class="as-logo-main">
                <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
            </div>
            <div class="menu-as">
                <div class="menu-as-items">
                    <div class="menu-solutions" (click)="this.goToId1();">
                        Solutions
                        <div class="witeTxt"></div>
                    </div>
                    <div class="menu-tech" (click)="this.goToId2();">
                        Technologies
                        <div class="witeTxt"></div>
                    </div>
                    <div class="menu-services" (click)="this.goToId3();">
                        Services
                        <div class="witeTxt"></div>
                    </div>
                    <div class="menu-contact-us" (click)="this.goToId4();">
                        Contact Us
                        <div class="witeTxt"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-as">
        <div class="big-text-as">
            <div class="big-title-as">
                Automate
                <br>
                your business.
            </div>
            <div class="desc-title-as">
                We do software development in cloud,
                <br>
                data analysis
            </div>
        </div>
    </div>
    <div class="technologies" id="technologies">
        <div class="technologies-1" *ngIf="this.slideIcons==false">
            <div *ngFor="let imge of this.prodList ; let i = index">
                <div [@fadeInOut] class="icon-{{i+1}}">
                    <img width="100%" class="py-icon" src="{{imge.imgAdj}}"></div>
            </div>
        </div>
        <div class="technologies-1" *ngIf="this.slideIcons==true">
            <div *ngFor="let imge2 of this.prodList2 ; let i = index">
                <div [@fadeInOut] class="icon-{{i+1}}">
                    <img width="100%" class="py-icon" src="{{imge2.imgAdj}}"></div>
            </div>
        </div>
    </div>
    <div class="text-autonomo-is">
        <div class="as-box">
            <div class="autonomo-is-title">
                Autonomo Is
            </div>
            <div class="characteristics-autonomo">
                <div class="descripion-as-char">
                    <ul>
                        <li style="padding-right: 20px;" class="mobSpac">A company with over 15 years of experience
                            in the software development industry.
                        </li>
                        <li style="padding-right: 20px;" class="mobSpac">
                            WEB and mobile devices we develop customized applications to meet the needs of our client
                            customers.
                        </li>
                        <li style="padding-right: 20px;" class="mobSpac">
                            We provide the best service by creating technological solutions to improve the growth of
                            your business.
                        </li>
                        <li style="padding-right: 20px;" class="mobSpac">
                            Contamos con un equipo profesional de alto nivel en la industria de la tecnología.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ai-generalAux" id="services"></div>
    <div class="autonomo-products" id="solutions">
        <div class="autonomo-products-general">
            <div id="slides_control" class="slides_web">
                <carousel interval="30000" [showIndicators]="false">
                    <slide style="padding: 0px 20px;">
                        <div class="products prd320">
                            <div (click)="this.goToOurServices(1);" class="products-1">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/code.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(1);" class="products-2">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            MOBILE APPLICATION DEVELOPMENT
                                        </div>
                                        <div class="text-products-description">
                                            We develop custom applications and integrations with existing applications.
                                            <br>
                                            Drives the growth of your business
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(2);" class="products-3">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/upload.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(2);" class="products-4">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            CLOUD STORAGE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Cloud Storage
                                                </li>
                                                <li>
                                                    Cloud Computing
                                                </li>
                                                <li>
                                                    Google Cloud
                                                </li>
                                                <li>
                                                    Amazon web Services
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(3);" class="products-5">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/shout.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(3);" class="products-6">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            DIGITAL MARKETING
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Digital campaigns system.
                                                </li>
                                                <li>
                                                    Massive email and SMS sending.
                                                </li>
                                                <li>
                                                    Referall programs
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide style="padding: 0px 20px;">
                        <div class="products prd2">
                            <div (click)="this.goToOurServices(4);" class="products-7">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/supermarket.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(4);" class="products-8">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            CREATE A STORE TO SELL ONLINE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    We offer tailored stores
                                                </li>
                                                <li>
                                                    Start selling online
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(5);" class="products-9">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/innovation.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(5);" class="products-10">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            MANAGE YOUR PROJECTS
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Project Manager System
                                                </li>
                                                <li>
                                                    Hours and costs report
                                                </li>
                                                <li>
                                                    Share activities with your work teams
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(6);" class="products-11">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/infrastructure.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(6);" class="products-12">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            INFRASTRUCTURE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Build this Structure
                                                </li>
                                                <li>
                                                    Manage your servers
                                                </li>
                                                <li>
                                                    Manage any networks
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide style="padding: 0px 20px;">
                        <div class="products prd2">
                            <div (click)="this.goToOurServices(7);" class="products-13">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/machine-learning.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(7);" class="products-14">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            BUSINESS INTELLIGENCE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Apply a Big Data.
                                                </li>
                                                <li>
                                                    Analyze your information.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(1);" class="products-15">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/code.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(1);" class="products-16">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            MOBILE APPLICATION DEVELOPMENT
                                        </div>
                                        <div class="text-products-description">
                                            We develop custom applications and integrations with existing applications.
                                            <br>
                                            Drives the growth of your business
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(2);" class="products-17">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/new-icons/upload.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(2);" class="products-18">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            CLOUD STORAGE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Cloud Storage
                                                </li>
                                                <li>
                                                    Cloud Computing
                                                </li>
                                                <li>
                                                    Google Cloud
                                                </li>
                                                <li>
                                                    Amazon web Services
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="carouselAutonomoProducts">
            <app-carousel-products></app-carousel-products>
        </div>
    </div>
    <div class="carousel-as">
        <div id="slides_control" class="slides_web">
            <carousel interval="10000" [showIndicators]="false">
                <slide>
                    <div class="products-left ">
                        <div class="products-location">
                            <div class="padding-text-carrusel">
                                <div class="items-location">
                                    <div class="item-text">
                                        <div class="item-text-title">
                                            Bogotá
                                        </div>
                                        <div class="item-text-description">
                                            Cra. 58 #117-50
                                        </div>
                                    </div>
                                    <div class="item-text borde-sep">
                                        <div class="item-text-title">
                                            México
                                        </div>
                                        <div class="item-text-description">
                                            Calle 1
                                        </div>
                                    </div>
                                </div>
                                <div class="comunication-text-1 centrado">
                                    Location
                                </div>
                                <div class="comunication-text-2  padding-text-carrusel-int">
                                    Our offices are located in a comfortable Time Zone to communicate with our clients
                                    in North America, Canada, Europe and Latin America.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-right">
                        <div class="products-comunication">
                            <div class="padding-text-carrusel">
                                <div class="items-communication">
                                    <div class="item-text-1">
                                        <div class="item-text-title-1">
                                            Agiles methodologies
                                        </div>
                                    </div>
                                    <div class="item-text-1 borde-sep">
                                        <div class="item-text-title-1">
                                            live product advance status
                                        </div>
                                    </div>
                                </div>
                                <div class="comunication-text-1 centrado">
                                    Comunication
                                </div>
                                <div class="comunication-text-2 justificado padding-text-carrusel-int">
                                    Our offices are located in a comfortable Time Zone to communicate with our clients
                                    in North America, Canada, Europe and Latin America.
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="products-left">
                        <div class="products-comunication">
                            <div class="padding-text-carrusel">
                                <div class="items-communication">
                                    <div class="item-text">
                                        <div class="item-text-title-1">
                                            Agiles methodologies
                                        </div>
                                    </div>
                                    <div class="item-text borde-sep">
                                        <div class="item-text-title-1">
                                            live product advance status
                                        </div>
                                    </div>
                                </div>
                                <div class="comunication-text-1 centrado">
                                    Comunication
                                </div>
                                <div class="comunication-text-2 justificado padding-text-carrusel-int">
                                    The native command of English by our English team, we close the gap, so that our
                                    clients can feel at home.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-right">
                        <div class="products-location">
                            <div class="padding-text-carrusel">
                                <div class="items-location">
                                    <div class="item-text">
                                        <div class="item-text-title">
                                            Bogotá
                                        </div>
                                        <div class="item-text-description">
                                            Cra. 58 #117-50
                                        </div>
                                    </div>
                                    <div class="item-text borde-sep">
                                        <div class="item-text-title">
                                            México
                                        </div>
                                        <div class="item-text-description">
                                            Calle 1
                                        </div>
                                    </div>
                                </div>
                                <div class="comunication-text-1 centrado">
                                    Location
                                </div>
                                <div class="comunication-text-2  padding-text-carrusel-int">
                                    Our offices are located in a comfortable Time Zone to communicate with our clients
                                    in North America, Canada, Europe and Latin America.
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <div class="ai-general">
        <div class="container-ai-general">
            <div class="ai-title">
                <div class="text-ai-title">
                    Software
                </div>
                <div class="text-ai-title-1">
                    Development
                </div>
            </div>
            <div class="ai-title2">
                <div class="text-ai-title">
                    Software Development
                </div>
            </div>
            <div class="ai-description">
                <div class="text-ai-description">
                    <div class="text-ai-desc-1">
                        We have a specialized team in areas such as web development, mobile, infrastructure and business
                        intelligence with more than 15 years in the area.
                    </div>
                    <div class="text-ai-desc-2">
                        Counting with clients from different countries in the areas of telecommunications, insurance,
                        laboratories, we can enhance their processes.
                        <br>
                        We focus on development in C #, Angular, React, Sql Server, Cloud computing
                    </div>
                </div>
            </div>
            <div class="ai-button">
                <div class="ai-button-txt">
                    <a href="/our-projects" style="color: #ffffff;">
                        Our projects
                    </a>
                </div>
            </div>
            <div class="ai-logo">
            </div>
        </div>
    </div>
    <div class="message-title" id="contactUs">
        <div class="txt-msg-title">
            <b>Envíenos un Mensaje</b>
        </div>
    </div>
    <div class="name-and-email">
        <div class="container-name-and-email">
            <div class="message-name">
                <input type="text" class="redondeadonorelieve" placeholder="Nombre">
            </div>
            <div class="message-email">
                <input type="text" class="redondeadonorelieve-1" placeholder="Correo electrónico">
            </div>
        </div>
    </div>
    <div class="project-type">
        <select class="redondeadonorelieve-1">
            <option value="tp">Tipo de proyecto</option>
            <option value="pw">Página Web</option>
            <option value="am">App Móvil</option>
        </select>
    </div>
    <div class="message-description">
        <textarea class="redondeadonorelieve-2" placeholder="Descripción del Proyecto"></textarea>
    </div>
    <div class="message-buttons">
        <div class="message-buttons-container">
            <div class="contact-button">
                <div class="contact-button-txt">Contactarnos</div>
            </div>
            <div class="reset-button">
                <div class="reset-button-txt">Reset</div>
            </div>
        </div>
    </div>
</div>
<div class="gridTwo">
    <app-footer></app-footer>
</div>