<div class="container">
    <div class="header">
        <div class="header-items">
            <div class="as-logo-main">
                <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
            </div>
            <div class="menu-as">
                <div class="menu-as-items">
                    <a class="menu-solutions" href="#solutions">Solutions</a>
                    <a class="menu-tech" href="#technologies">Technologies</a>
                    <a class="menu-services" href="#services">Services</a>
                    <a class="menu-contact-us" href="#contactUs">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-as">
        <div class="big-text-as">
            <div class="big-title-as">
                Automate
                <br>
                your business.
            </div>
            <div class="desc-title-as">
                We do data analysis, artificial intelligence, software
                <br>
                development and cloud computing
            </div>
        </div>
    </div>
    <div class="technologies" id="technologies">
        <div class="technologies-1" *ngIf="this.cont>0">
            <div *ngIf="this.cont>0"
                [ngClass]="{ 'icon-1None': this.cont==0, 'icon-1Hov': this.cont==1, 'icon-1': this.blur== 2 || this.cont== 9}">
                <img width="100%" class="py-icon" src="../../assets/images/pyLogo.png"></div>
            <div *ngIf="this.cont>1"
                [ngClass]="{ 'icon-2None': this.cont==1, 'icon-2Hov': this.cont== 2, 'icon-2': this.blur== 2 || this.cont== 9}">
                <img width="100%" class="php-icon" src="../../assets/images/phpLogo.png"></div>
            <div *ngIf="this.cont>2"
                [ngClass]="{ 'icon-3None': this.cont==2,'icon-3Hov': this.cont== 3, 'icon-3': this.blur== 2 || this.cont== 9}">
                <img width="100%" class="react-icon" src="../../assets/images/reactLogo.png"></div>
            <div *ngIf="this.cont>3"
                [ngClass]="{ 'icon-4None': this.cont==3, 'icon-4Hov': this.cont== 4, 'icon-4': this.blur== 2 || this.cont== 9}">
                <img width="100%" class="ionic-icon" src="../../assets/images/ionicLogo.png"></div>
            <div *ngIf="this.cont>4"
                [ngClass]="{ 'icon-5None': this.cont==4,'icon-5Hov': this.cont== 5, 'icon-5': this.blur== 2 || this.cont== 9}">
                <img width="100%" class="chcar-icon" src="../../assets/images/csharpLogo.png"></div>
            <div *ngIf="this.cont>5"
                [ngClass]="{  'icon-6None': this.cont==5,'icon-6Hov': this.cont== 6, 'icon-6': this.blur== 2 || this.cont== 9}">
                <img width="100%" class="aws-icon" src="../../assets/images/awsLogo.png"></div>
            <div *ngIf="this.cont>6"
                [ngClass]="{  'icon-7None': this.cont==6,'icon-7Hov': this.cont== 7, 'icon-7': this.blur== 2 || this.cont== 9}">
                <img width="100%" class="ang-icon" src="../../assets/images/angularLogo.png"></div>
            <div *ngIf="this.cont>7"
                [ngClass]="{  'icon-8None': this.cont==7,'icon-8Hov': this.cont== 8, 'icon-8': this.cont== 9}"><img
                    width="100%" class="php-icon" src="../../assets/images/phpLogo.png"></div>
        </div>
    </div>
    <div class="text-autonomo-is">
        <div class="as-box">
            <div class="autonomo-is-title">
                Autonomo Is
            </div>
            <div class="characteristics-autonomo">
                <div class="descripion-as-char">
                    <ul>
                        <li style="padding-right: 20px;">A company with over 15 years of experience
                            in the software development industry.</li>
                        <li style="padding-right: 20px;">WEB and mobile develop based applications
                            with custom integration to fit clients needs.</li>
                        <li style="padding-right: 20px;">The best service by creating technological
                            solutions to enhance the growth to your business.</li>
                        <li style="padding-right: 20px;">You can count on us to assist your
                            bussiness in the automatization of your processes.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="autonomo-products">
        <div class="autonomo-products-general">
            <div id="slides_control" class="slides_web">
                <carousel interval="30000">
                    <slide style="height: 410px; padding: 0px 5%;">
                        <div class="products">
                            <div (click)="this.goToOurServices(1);" class="products-1">
                                <div class="img-pr2"><img class="pr2" src="../../assets/images/movil_web.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(1);" class="products-2">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            MOBILES AND WEB APPLICATIONS
                                        </div>
                                        <div class="text-products-description">
                                            The past few years have seen a dramatic change in the public perception of cosmetic
                                            surgery.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(2);" class="products-3">
                                <div class="img-pr2"><img class="pr3" src="../../assets/images/inactive.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(2);" class="products-4">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            CLOUD STORAGE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Microsoft Azure
                                                </li>
                                                <li>
                                                    Google Cloud
                                                </li>
                                                <li>
                                                    Amazon web Services
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(3);" class="products-5">
                                <div class="img-pr2"><img class="pr4" src="../../assets/images/inactive2.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(3);" class="products-6">
                                <div class="text-products4">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            DIGITAL MARKETING
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Digital campaigns manager.
                                                </li>
                                                <li>
                                                    Massive email and SMS sending.
                                                </li>
                                                <li>
                                                    Referall programs
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide style="height: 410px; padding: 0px 5%;">
                        <div class="products">
                            <div (click)="this.goToOurServices(4);" class="products-7" style="margin-top: 25px;">
                                <div class="img-pr2"><img class="pr4" src="../../assets/images/logoShop.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(4);" class="products-8" style="margin-top: 25px;">
                                <div class="text-products4" [ngStyle]="{'color':this.selTab === 4 ? '#3E3E4A' : '#B6B6BB' }">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            CREATE A STORE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Online store.
                                                </li>
                                                <li>
                                                    Secure payment methods.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(5);" class="products-9" style="margin-top: 25px;">
                                <div class="img-pr2"><img class="pr4" src="../../assets/images/logoMngr.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(5);" class="products-10" style="margin-top: 25px;">
                                <div class="text-products4" [ngStyle]="{'color':this.selTab === 5 ? '#3E3E4A' : '#B6B6BB' }">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            MANAGE YOUR PROJECTS
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Control the time.
                                                </li>
                                                <li>
                                                    Create functionalities.
                                                </li>
                                                <li>
                                                    Manage users
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(6);" class="products-11" style="margin-top: 25px;">
                                <div class="img-pr2"><img class="pr4" src="../../assets/images/infraLogo.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(6);" class="products-12" style="margin-top: 25px;">
                                <div class="text-products4" [ngStyle]="{'color':this.selTab === 5 ? '#3E3E4A' : '#B6B6BB' }">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            INFRASTRUCTURE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Build this Structure
                                                </li>
                                                <li>
                                                    Manage your servers
                                                </li>
                                                <li>
                                                    Manage any networks
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide style="height: 410px; padding: 0px 5%;">
                        <div class="products">
                            <div (click)="this.goToOurServices(7);" class="products-13" style="margin-top: 25px;">
                                <div class="img-pr2"><img class="pr4"   src="../../assets/images/dashbrdlogo.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(7);" class="products-14" style="margin-top: 25px;">
                                <div class="text-products4" [ngStyle]="{'color':this.selTab === 4 ? '#3E3E4A' : '#B6B6BB' }">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            BUSINESS INTELLIGENCE
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Apply a Big Data.
                                                </li>
                                                <li>
                                                    Analyze your information.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="this.goToOurServices(5);" class="products-9" style="margin-top: 25px;">
                                <div class="img-pr2"><img class="pr4" src="../../assets/images/logoMngr.png"></div>
                            </div>
                            <div (click)="this.goToOurServices(5);" class="products-10" style="margin-top: 25px;">
                                <div class="text-products4" [ngStyle]="{'color':this.selTab === 5 ? '#3E3E4A' : '#B6B6BB' }">
                                    <div class="ffItem">
                                        <div class="text-products-title">
                                            MANAGE YOUR PROJECTS
                                        </div>
                                        <div class="text-products-description">
                                            <ul style="padding-left: 15px;">
                                                <li>
                                                    Control the time.
                                                </li>
                                                <li>
                                                    Create functionalities.
                                                </li>
                                                <li>
                                                    Manage users
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="carouselAutonomoProducts">
            <app-carousel-products></app-carousel-products>
        </div>
    </div>
    <div class="carousel-as">
        <div id="slides_control" class="slides_web">
            <carousel interval="this.myInterval">
                <slide>
                    <div class="products-left ">
                        <div class="products-location">
                            <div class="padding-text-carrusel">
                                <div class="items-location">
                                    <div class="item-text">
                                        <div class="item-text-title">
                                            Bogotá
                                        </div>
                                        <div class="item-text-description">
                                            Cra. 58 #117-50
                                        </div>
                                    </div>
                                    <div class="item-text borde-sep">
                                        <div class="item-text-title">
                                            México
                                        </div>
                                        <div class="item-text-description">
                                            Calle 1
                                        </div>
                                    </div>
                                </div>
                                <div class="comunication-text-1 centrado">
                                    Location
                                </div>
                                <div class="comunication-text-2  padding-text-carrusel-int">
                                    Nuestras oficinas estan ubicadas en una Time Zone comoda para comunicarnos con
                                    nuestros
                                    clientes en Norteamerica, Canada y Europa.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-right">
                        <div class="products-comunication">
                            <div class="padding-text-carrusel">
                                <div class="items-communication">
                                    <div class="item-text-1">
                                        <div class="item-text-title-1">
                                            Agiles methodologies
                                        </div>
                                    </div>
                                    <div class="item-text-1 borde-sep">
                                        <div class="item-text-title-1">
                                            live product advance status
                                        </div>
                                    </div>
                                </div>
                                <div class="comunication-text-1 centrado">
                                    Comunication
                                </div>
                                <div class="comunication-text-2 justificado padding-text-carrusel-int">
                                    El manejo nativo del ingles de nuestro equipo del ingles, cerramos la brecha del
                                    lenguaje, por lo que nuestros clientes pueden sentirse como en casa.
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="products-left">
                        <div class="products-comunication">
                            <div class="padding-text-carrusel">
                                <div class="items-communication">
                                    <div class="item-text">
                                        <div class="item-text-title-1">
                                            Agiles methodologies
                                        </div>
                                    </div>
                                    <div class="item-text borde-sep">
                                        <div class="item-text-title-1">
                                            live product advance status
                                        </div>
                                    </div>
                                </div>
                                <div class="comunication-text-1 centrado">
                                    Comunication
                                </div>
                                <div class="comunication-text-2 justificado padding-text-carrusel-int">
                                    El manejo nativo del ingles de nuestro equipo del ingles, cerramos la brecha del
                                    lenguaje, por lo que nuestros clientes pueden sentirse como en casa.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-right">
                        <div class="products-location">
                            <div class="padding-text-carrusel">
                                <div class="items-location">
                                    <div class="item-text">
                                        <div class="item-text-title">
                                            Bogotá
                                        </div>
                                        <div class="item-text-description">
                                            Cra. 58 #117-50
                                        </div>
                                    </div>
                                    <div class="item-text borde-sep">
                                        <div class="item-text-title">
                                            México
                                        </div>
                                        <div class="item-text-description">
                                            Calle 1
                                        </div>
                                    </div>
                                </div>
                                <div class="comunication-text-1 centrado">
                                    Location
                                </div>
                                <div class="comunication-text-2  padding-text-carrusel-int">
                                    Nuestras oficinas estan ubicadas en una Time Zone comoda para comunicarnos con
                                    nuestros
                                    clientes en Norteamerica, Canada y Europa.
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <div class="ai-general" id="services">
        <div class="container-ai-general">
            <div class="ai-title">
                <div class="text-ai-title">
                    Inteligencia
                </div>
                <div class="text-ai-title-1">
                    Artificial
                </div>
            </div>
            <div class="ai-title2">
                <div class="text-ai-title">
                    Inteligencia Artificial
                </div>
            </div>
            <div class="ai-description">
                <div class="text-ai-description">
                    <div class="text-ai-desc-1">Most offshore developers were trianed in "Outsourcer Culture" which
                        devalues information in favor
                        of
                        "Labor-Arbitrage Behavior," suffering from a sever storage of experienced mentors from the West.
                    </div>
                    <div class="text-ai-desc-2">We used a variety of offshore developers to build our two startups
                        (Five9, DoctorBase) and over
                        the years
                        we built a framework for closing the performance gap between offshore developers and Valley
                        engineers.
                    </div>
                </div>
            </div>
            <div class="ai-button" (click)="this.goToOurProjects();">
                <div class="ai-button-txt">
                    Our projects
                </div>
            </div>
            <div class="ai-logo">
            </div>
        </div>
    </div>
    <div class="message-title" id="contactUs">
        <div class="txt-msg-title">
            <b>Envíenos un Mensaje</b>
        </div>
    </div>
    <div class="name-and-email">
        <div class="container-name-and-email">
            <div class="message-name">
                <input type="text" class="redondeadonorelieve" placeholder="Nombre">
            </div>
            <div class="message-email">
                <input type="text" class="redondeadonorelieve-1" placeholder="Correo electrónico">
            </div>
        </div>
    </div>
    <div class="project-type">
        <select class="redondeadonorelieve-1">
            <option value="tp">Tipo de proyecto</option>
            <option value="pw">Página Web</option>
            <option value="am">App Móvil</option>
        </select>
    </div>
    <div class="message-description">
        <textarea class="redondeadonorelieve-2" placeholder="Descripción del Proyecto"></textarea>
    </div>
    <div class="message-buttons">
        <div class="message-buttons-container">
            <div class="contact-button">
                <div class="contact-button-txt">Contactarnos</div>
            </div>
            <div class="reset-button">
                <div class="reset-button-txt">Reset</div>
            </div>
        </div>
    </div>
    <div class="line-style" style="padding: 0px;">
        <img width="100%" style="position: relative;" src="../../assets/images/footer_1.png">
    </div>
    <div class="line-style">
        <div class="line-style-container">
            <div class="line-1">
                <img width="100%" class="separation-line" src="../../assets/images/lineLimit.png">
            </div>
            <div class="logo-as-line">
                <img class="logo-aut" src="../../assets/images/white.png">
            </div>
            <div class="line-2">
                <img width="100%" class="separation-line" src="../../assets/images/lineLimit.png">
            </div>
        </div>
    </div>
    <div class="button-contactenos">
        <div class="button-contactenos-container">
            <div class="button-c1">Contactenos</div>
            <div class="button-c2">Contactenos</div>
            <div class="button-c3">Contactenos</div>
            <div class="button-c4">Contactenos</div>
        </div>
    </div>
    <div class="banner-housing-ext">
        <div class="banner-housing-container">
            <div class="img-bnhouse"><img width="100%" class="busi-logo" src="../../assets/images/logoBusi.png"></div>
            <div class="text-bnhouse">
                <div class="bnhouse-txt2">Powered by Autonomo System.</div>
            </div>
        </div>
    </div>
    <div class="footer">
        © 2020 All rights reserved.
    </div>
</div>