<div class="titleContent">Mobile and Web Applications</div>
<div class="description">
    <div class="imageCont">
        <img width="100%" src="../../../assets/images/webDvp.png">
    </div>
    <div class="descCont">
        We offer web solutions for companies, creation of professional websites, for mobile devices and
        computers, according to your budget, with support and improvement plans as its development passes over
        time.
        <br><br>
        Designs updated to market trends in 2020
        Web pages with high response speed
        Available for all kinds of browsers such as, Google chorme, mozila Firefox, safari, and others.
        Support and warranty for each product
        Developments for mobile web users and applications for the AppStore and PlayStore
        <br><br>
        Web developments
        We develop web environments in Angular 9 where your applications will look spectacular. Due to being a
        cutting-edge framework, this also allows it high support for updates to the latest on the market.
        <br><br>
        Advice on hosting choice
        Web solutions management
        Integration with existing systems in your company
    </div>
</div>
