<div class="description">
    <div class="imageCont">
        <img width="100%" src="../../assets/images/ourServices backgrounds/shopOnlinee.png">
    </div>
    <div class="descCont">
        We develop your tailored online store with options for expansion. Our main objective is to develop pages
        that grow according to your company.
        <br><br>
        We achieve this thanks to modular programming, with this you can choose relevant sections for the start,
        development and post-delivery product of your application in order to reduce your initial investment
        costs and grow at your own pace on this platform.
        <br><br>
        We generate solutions from the total design of your website as integration of additional services to
        automate your processes.
        <br><br>
        • Cloud storage: We offer administration services for your domains and cloud storage.
        <br><br>
        • Total and functional deliveries of your product: We stand out for delivering satisfactory products to
        the client which allow generating sales from the moment of publication without the need for extra
        configurations, as a minimum we offer availability of 5 products of your choice for sale.
        <br><br>
        • Product publication system: We offer a space where you can modify, add or remove your products from
        the stores, thanks to this you will have a flexible system that helps you to have a constant inventory
        rotation according to your wishes.
        <br><br>
        • SSl Certificate: For no online store it is a secret that security is the most important thing, we
        offer an SSL certificate so that you have the confidence that your products sell correctly and your
        customer is satisfied with your purchase.
        <br><br>
        • No limit on the sale of products: Our solutions grow with you and the administration systems will be
        available at all times if your page begins to grow in sales.
        <br><br>
        • Low cost:
        One of the great challenges for all companies is to reduce development costs, for this we evaluate
        alternatives regarding what is available with the user and their initial budget, in order to make it
        accessible to them to obtain a website with us and to be able to grow from according to your needs.
    </div>
</div>
