<div class="container">
    <!--Encabezado de la Pagina-->
    <div class="header">
        <img width="100%" height="auto" class="encabezado-autonomo" src="../../assets/images/banner-min768.png">
    </div>
    <!--Imagen de bienvenida-->
    <div class="main-image">
    </div>
    <!--Exhibicion de logos-->
    <div class="framew-logos">
        <div class="contenedores-logos">
            <div class="grid-py">**</div>
            <div class="grid-php1"><img width="100%" class="php-logo" src="../../assets/images/phpLogo.png"></div>
            <div class="grid-ang"><img width="100%" class="ang-logo" src="../../assets/images/angularLogo.png"></div>
            <div class="grid-react"><img width="100%" class="react-logo" src="../../assets/images/reactLogo.png"></div>
            <div class="grid-ionic"><img width="100%" class="ionic-logo" src="../../assets/images/ionicLogo.png"></div>
            <div class="grid-csharp"><img width="100%" class="chcar-logo" src="../../assets/images/csharpLogo.png">
            </div>
            <div class="grid-aws"><img width="100%" class="aws-logo" src="../../assets/images/awsLogo.png"></div>
            <div class="grid-php2"><img width="100%" class="php-logo" src="../../assets/images/phpLogo.png"></div>
        </div>
    </div>
    <!--Titulo de la compañia-->
    <div class="item-autonomo-is">
        <div class="autonomo-is-title">Autonomo is</div>
        <div class="characteristics-autonomo">
            • A company with over 15 years of experience in the software development industry.
            <br>
            • WEB and mobile develop based applications with custom integration to fit clients needs.
            <br>
            • The best service by creating technological solutions to enhance the growth to your business.
            <br>
            • You can count on us to assist your bussiness in the automatization of your processes.
        </div>
    </div>
    <!--Mas caracteriticas-->
    <div class="item-char1">
        <img width="60%" class="caracteristicas-company" src="../../assets/images/characteristics.png">
    </div>
    <div class="item-char2">
        <img width="100%" class="computer-company" src="../../assets/images/computer.png">
    </div>
    <div class="products-carousel">
       ***
    </div>
    <div class="ai-container">
        <div class="artificial-title">
            Inteligencia
            <br>
            Artificial
        </div>
        <div class="description-artificial">
            <p>Most offshore developers were trained in "Outsourcer Culture" which devalues innovation in favor of
                "Labor-Arbitrage Behavior", suffering
                from a severe shortaged of experienced mentors on the West.
            </p>
            <br>
            <p>We used a variety of offshore developers to build our two startups (Five9, DoctorBase) and over the years
                we built a framework
                for closing the performance gap between offshore developers and Valley engineers.
            </p>
        </div>
        <div class="button-demo">
            <a class="button-text-demo">
                <span class="tabcell">
                    Prueba nuestro demo
                </span>
            </a>
        </div>
    </div>
    <div class="world-container">
        <img width="100%" class="world-logo-company" src="../../assets/images/world.png">
    </div>
    <div class="text-form">
        <div class="message-title">Envíenos Un Mensaje</div>
        <div class="text-name">
            <input type="text" style="width:50%;height:60px;font-size:14pt;" value="Nombre">
            <div class="electronic-email">
                <input type="text" style="width:100%;height:60px;font-size:14pt;" value="Correo Electrónico">
            </div>
        </div>
        <div class="project-type">
            <select style="width:100%;height:60px;font-size:14pt;">
                <option>Tipo de Proyecto</option>
            </select>
        </div>
        <div class="project-description">
            <input type="text" style="width:100%;height:200px;font-size:14pt;" value="Descripción del Proyecto">
        </div>
        <div class="botones-formulario">
            <a class="button-send">
                <span class="tabcell">
                    Contactarnos
                </span>
            </a>
            <a class="button-reset">
                <span class="tabcell">
                    Reset
                </span>
            </a>
        </div>
    </div>
</div>