.container
  max-width: 100% !important
  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-template-rows: auto auto auto auto auto auto auto auto
.header
  grid-column: 1 / span 8
  grid-row: 1 / span 2
  border: 1px solid red
.main-image
  grid-column: 1 / span 8
  grid-row: 2
  border: 1px solid red
.portada-autonomo
  width: 100%
.framew-logos
  grid-column: 1 / span 8
  grid-row: 3
  border: 1px solid red
  width: 100%
  background-color: #3E3E4A
.item-autonomo-is
  grid-column: 1 / span 8
  grid-row: 4
  width: 100%
  border: 1px solid red
.autonomo-is-title
  grid-column: 1 / span 8
  grid-row: 4
  width: 100% 
  text-align: center
  color: #3E3E4A
  font-size: 48px
  margin-top: 20px
.characteristics-autonomo
  grid-column: 3 / span 6
  grid-row: 4
  text-align: center
.item-char1
  grid-column: 2 / span 4
  grid-row: 5
  border: 1px solid red
.item-char2
  grid-column: 5 / span 8
  grid-row: 5
  border: 1px solid red
.products-carousel
  grid-column: 1 / span 8
  grid-row: 6
  border: 1px solid red
  width: 100%
.ai-container
  grid-column: 1 / span 4
  grid-row: 7
  border: 1px solid red
  background-color: #3E3E4A
.world-container
  grid-column: 5 / span 8
  grid-row: 7
  border: 1px solid red
.artificial-title
  margin-top: 20px
  padding-left: 20px
  width: 50%
  font-size: 48px
  color: #FF9209
.description-artificial
  padding-left: 20px
  color: #FFFFFF
  font-size: 16px
  margin-top: 20px
.button-demo
  grid-column: 2 / span 3
  grid-row: 7
  background-color: #FF9209
  color: #ffffff
  width: 362px
  height:80px
  cursor: pointer
  font-size: 31px
  margin-left: 20px
  text-align: center
.text-form
  grid-column: 1 / span 8
  grid-row: 8
.button-text-demo
  padding: 30px
.message-title
  margin-left: 20px
  margin-top: 15px
  font-size: 66px
  color: #3E3E4A
.text-name
  margin-left: 20px
.electronic-email
  padding-left: 10px
  width: 50%
  float: right
.project-type
  margin-left: 20px
  margin-top: 50px
.project-description
  margin-left: 20px
  margin-top: 50px
.button-send
  padding: 22px
.button-reset
  padding: 20px
.botones-formulario
  margin-top: 46px
.botones-formulario .button-send
  margin-left: 20px
  background-color: #FF9209
  width: 362px
  height:80px
  cursor: pointer
  font-size: 31px
  margin-top: 30px
  color: #ffffff
.botones-formulario .button-reset
  margin-top: 30px
  color: #343432
  border: 1px solid
  background-color: #FFFFFF
  width: 362px
  height:80px
  cursor: pointer
  font-size: 31px
  margin-left: 20px
  /*Caso de Carrusel Inicio*/
.slides_content
    background: #f2f2f2
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    padding-bottom: 20%
    margin-top: 2%
    display: table
    width: 100%
.slides_web 
    display: table
    width: 100%
    height: auto
.panelPaquetes
    padding-bottom: 60px
.plandisptitle
    height: auto
    padding: 8px 5px
    width: 100%
    -webkit-border-top-left-radius: 4px
    -webkit-border-top-right-radius: 4px
    -moz-border-radius-topleft: 4px
    -moz-border-radius-topright: 4px
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    background-color: #1f97ae
    color: #fff
    font-size: 18px
    font-family: Roboto,sans-serif
    font-weight: 700
    text-align: center
.vcenter
    display: table!important
    height: 100%      
.plandispcont
    border-top: 0
    font-family: 'Roboto', sans-serif
    font-weight: 400
    color: #222222
    width: 100%
    height: auto
    float: left
    padding: 18px 27px
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px
    border: 1px solid #cccccc
    background-color: #ffffff
.servs-plans 
    width: 150px
    height: auto
    float: none
    display: inline-block
    margin: 0 auto
.basicrow.m-top.button-choose
    margin-left: 25%
    width: 43%
    height: 20px
.caja-plan-sug
    margin-top: 16px
    position: relative
    min-height: 1px
    padding-left: 15px
.caja-oferta.padtop-data
    padding:5px
.titulo-caja
    text-align: left
    margin-top: -24px
/*Fin de Carrusel*/  
.grid-py
  grid-column: span 1
  grid-row: 3
  border: 1px solid red
  width: 12.5%
  text-align: center
  float: left
  height: 100px
  padding: 20px 0px
.grid-php1
  grid-column: span 2
  grid-row: 3
  border: 1px solid red
  width: 12.5%
  text-align: center
  float: left
  height: 100px
  padding: 20px 0px
.grid-php2
  grid-column: span 8
  grid-row: 3
  border: 1px solid red
  width: 12.5%
  text-align: center
  float: left
  height: 100px
  padding: 20px 0px
.grid-ang
  grid-column: span 3
  grid-row: 3
  border: 1px solid red
  width: 12.5%
  text-align: center
  float: left
  height: 100px
  padding: 20px 0px
.grid-react
  grid-column: span 4
  grid-row: 3
  border: 1px solid red
  width: 12.5%
  text-align: center
  float: left
  height: 100px
  padding: 20px 0px
.grid-ionic
  grid-column: span 5
  grid-row: 3
  border: 1px solid red
  width: 12.5%
  text-align: center
  float: left
  height: 100px
  padding: 20px 0px
.grid-csharp
  grid-column: span 6
  grid-row: 3
  border: 1px solid red
  width: 12.5%
  text-align: center
  float: left
  height: 100px
  padding: 20px 0px
.grid-aws
  grid-column: span 7
  grid-row: 3
  border: 1px solid red
  width: 12.5%
  text-align: center
  float: left
  height: 100px
  padding: 20px 0px
.py-logo
  width: 60px
  height: 60px
.php-logo
  width: 60px
  height: 60px
.ang-logo
  width: 60px
  height: 60px
.react-logo
  width: 60px
  height: 60px
.ionic-logo
  width: 60px
  height: 60px
.chcar-logo
  width: 60px
  height: 60px
.aws-logo
  width: 60px
  height: 60px