
<div class="description">
    <div class="imageCont">
        <img width="100%" src="../../assets/images/ourServices-backgrounds/projMag.png">
    </div>
    <div class="descCont">
        We offer our project management system, with this you can carry generate productivity reports, costs,
        time analysis for each project you have at your disposal, carry out a complete control of your workers
        and the activities that are carried out on a daily, biweekly basis. , monthly or annual in your company,
        with this evaluate the effectiveness of each worker group or area of ​​your company and if you wish we
        can also develop a specialized management system for your company which develops reports according to
        your need, reduce your management times in your company and have the necessary information at hand so
        that you can make decisions in real time according to the operation of your company.
    </div>
</div>
<div class="plansBox">
    <div class="plan1">
        <div class="planTitle">Básico</div>
        <ul style="margin-top: 10px;">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
        <div class="buttonStyle">
            Contratar
        </div>
    </div>
    <div class="plan2">
        <div class="planTitle">Estándar</div>
        <ul style="margin-top: 10px;">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
        <div class="buttonStyle">
            Contratar
        </div>
    </div>
    <div class="plan3">
        <div class="planTitle">Plus</div>
        <ul style="margin-top: 10px;">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
        <div class="buttonStyle">
            Contratar
        </div>
    </div>
    <table>
        <thead>
          <tr>
            <th></th>
            <th>standard</th>
            <th>plus</th>
            <th>enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>dedicated server</td>
            <td>no</td>
            <td>no</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>support</td>
            <td>no</td>
            <td>no</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>num users</td>
            <td>3</td>
            <td>20</td>
            <td>unlimited</td>
          </tr>
          <tr>
            <td>number projects</td>
            <td>5</td>
            <td>20</td>
            <td>unlimited</td>
          </tr>
          <tr>
            <td>tickets</td>
            <td>no</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>documentation</td>
            <td>no</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>users and permisions</td>
            <td>yes</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>activities</td>
            <td>yes</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>manager</td>
            <td>yes</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>gant</td>
            <td>yes</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>report</td>
            <td>yes</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>quotation</td>
            <td>yes</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
          <tr>
            <td>task</td>
            <td>yes</td>
            <td>yes</td>
            <td>yes</td>
          </tr>
        </tbody>
        </table>
</div>