.titleContent
    font-family: autonomo
    text-align: left
    color: #3E3E4A
    font-size: 36px
    font-weight: 800
    padding: 20px 0px
.description
    color: #3e3e4a
    font-size: 16px
    text-align: justify
    font-family: mons
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
    padding-bottom: 20px
    display: grid
    grid-template-columns: 40% 60%
    grid-template-rows: auto
    padding-left: 50px
    padding-right: 50px
.imageCont
    grid-column: 1
    grid-row: 1
    margin-right: 10px
    padding: 20px
.descCont
    grid-column: 2
    grid-row: 1
    margin-left: 10px
.plansBox
    margin-top: 20px
    display: grid
    grid-template-columns: 40% 20% 20% 20%
    grid-template-rows: auto 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px
.plan1
    grid-column: 2
    grid-row: 1
    border: 1px solid
    margin-right: 10px
    border-radius: 5px
    padding: 10px
    margin-bottom: 20px
.plan2
    grid-column: 3
    grid-row: 1
    border: 1px solid
    margin-right: 10px
    margin-left: 10px
    border-radius: 5px
    padding: 10px
    margin-bottom: 20px
.plan3
    grid-column: 4
    grid-row: 1
    border: 1px solid
    margin-left: 10px
    border-radius: 5px
    padding: 10px
    margin-bottom: 20px
.planSpac
    grid-column: 1
    grid-row: 2
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.planSpac1
    grid-column: 2
    grid-row: 2
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.planSpac2
    grid-column: 3
    grid-row: 2
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.planSpac3
    grid-column: 4
    grid-row: 2
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.dedS1
    grid-column: 1
    grid-row: 3
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.dedS2
    grid-column: 2
    grid-row: 3
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.dedS3
    grid-column: 3
    grid-row: 3
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.dedS4
    grid-column: 4
    grid-row: 3
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.sP1
    grid-column: 1
    grid-row: 4
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.sP2
    grid-column: 2
    grid-row: 4
    font-family: mons    
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.sP3
    grid-column: 3
    grid-row: 4
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.sP4
    grid-column: 4
    grid-row: 4
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.nU1
    grid-column: 1
    grid-row: 5
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.nU2
    grid-column: 2
    grid-row: 5
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.nU3
    grid-column: 3
    grid-row: 5
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.nU4
    grid-column: 4
    grid-row: 5
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.nP1
    grid-column: 1
    grid-row: 6
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.nP2
    grid-column: 2
    grid-row: 6
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.nP3
    grid-column: 3
    grid-row: 6
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.nP4
    grid-column: 4
    grid-row: 6
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.tcK1
    grid-column: 1
    grid-row: 7
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.tcK2
    grid-column: 2
    grid-row: 7
    font-family: mons
    text-align: center
    margin-top: 20px
.tcK3
    grid-column: 3
    grid-row: 7
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.tcK4
    grid-column: 4
    grid-row: 7
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.dC1
    grid-column: 1
    grid-row: 8  
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.dC2
    grid-column: 2
    grid-row: 8 
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.dC3
    grid-column: 3
    grid-row: 8
    font-family: mons
    font-weight: bold
    text-align: center 
    padding-top: 20px
    background-color: #f2f2f2
.dC4
    grid-column: 4
    grid-row: 8     
    font-family: mons
    font-weight: bold
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.uP1
    grid-column: 1
    grid-row: 9  
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.uP2
    grid-column: 2
    grid-row: 9 
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.uP3
    grid-column: 3
    grid-row: 9 
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.uP4
    grid-column: 4
    grid-row: 9   
    font-family: mons
    font-weight: bold
    text-align: center
    margin-top: 20px
.acT1
    grid-column: 1
    grid-row: 10
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.acT2
    grid-column: 2
    grid-row: 10
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.acT3
    grid-column: 3
    grid-row: 10
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.acT4
    grid-column: 4
    grid-row: 10
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.mnG1
    grid-column: 1
    grid-row: 11
    font-family: mons
    text-align: center
    margin-top: 20px
.mnG2
    grid-column: 2
    grid-row: 11
    font-family: mons
    text-align: center
    margin-top: 20px
.mnG3
    grid-column: 3
    grid-row: 11
    font-family: mons
    text-align: center
    margin-top: 20px
.mnG4
    grid-column: 4
    grid-row: 11
    font-family: mons
    text-align: center
    margin-top: 20px
.gnt1
    grid-column: 1
    grid-row: 12 
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.gnt2
    grid-column: 2
    grid-row: 12
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.gnt3
    grid-column: 3
    grid-row: 12 
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.gnt4
    grid-column: 4
    grid-row: 12
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.rpt1
    grid-column: 1
    grid-row: 13
    font-family: mons
    text-align: center
    margin-top: 20px
.rpt2
    grid-column: 2
    grid-row: 13
    font-family: mons
    text-align: center
    margin-top: 20px
.rpt3
    grid-column: 3
    grid-row: 13
    font-family: mons
    text-align: center
    margin-top: 20px
.rpt4
    grid-column: 4
    grid-row: 13
    font-family: mons
    text-align: center
    margin-top: 20px
.qt1
    grid-column: 1
    grid-row: 14
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.qt2
    grid-column: 2
    grid-row: 14
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.qt3
    grid-column: 3
    grid-row: 14
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.qt4
    grid-column: 4
    grid-row: 14
    font-family: mons
    text-align: center
    padding-top: 20px
    background-color: #f2f2f2
.tsk1
    grid-column: 1
    grid-row: 15
    font-family: mons
    text-align: center
    margin-top: 20px
.tsk2
    grid-column: 2
    grid-row: 15
    font-family: mons
    text-align: center
    margin-top: 20px
.tsk3
    grid-column: 3
    grid-row: 15
    font-family: mons
    text-align: center
    margin-top: 20px
.tsk4
    grid-column: 4
    grid-row: 15
    font-family: mons
    text-align: center
    margin-top: 20px
.planTitle
    text-align: center
    font-size: 24px
    font-family: autonomo
    color: #3E3E4A
li
    color: #3e3e4a
    font-size: 16px
    text-align: justify
    font-family: mons
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
.buttonStyle
    padding: 15px 0px
    font-size: 20px
    color: #ffffff
    text-align: center
    background-color: #FF9209
    cursor: pointer
    width: 180px
    height: 45px
    font-family: autonomo
    font-weight: 800
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
    margin: 0 auto
    border-radius: 5px
    display: table
@media only screen and (max-width: 768px)
    .description
        grid-template-columns: 100%
        padding-left: 0px
        padding-right: 0px
    .imageCont
        grid-column: 1
        grid-row: 2
        margin-right: 0px
        margin-top: 10px
        padding: 0px
    .descCont
        grid-column: 1
        grid-row: 1
        margin-left: 0px
    .plansBox
        grid-template-columns: 100%
        grid-template-rows: auto auto auto
    .plan1
        grid-column: 1
        grid-row: 1
        margin-right: 0px
        margin-bottom: 10px
    .plan2
        grid-column: 1
        grid-row: 2
        margin-right: 0px
        margin-left: 0px
        margin-bottom: 10px
        margin-top: 10px
    .plan3
        grid-column: 1
        grid-row: 3
        margin-left: 0px
        margin-top: 10px
