<div class="gridBox">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">
        <div *ngIf="this.idService==1">
            <div class="titleContent">Mobile and Web Applications</div>
            <div class="description">
                We do development for mobile and web devices, with all the existing quality standards, meeting the needs
                required by customers, applying front-end development tools, it is estimated that in the future we will
                be developing applications for mobile devices in order to obtain the functionalities that customers want
                to have.
                <br>
                Sites have been developed for certain clients who meet the needs of making our work possible.
                <br>
                <img width="100%" src="../../assets/images/mcPR.png">
                <br><br>
                <img width="100%" src="../../assets/images/ClaroStore.png">
            </div>
        </div>
        <div *ngIf="this.idService==2">
            <div class="titleContent">Cloud Storage</div>
            <div class="description">
                Cloud storage is a tool that provides the needs at the database level, guaranteeing the consumption of
                Web services, using cloud services such as Google Cloud Platform, Amazon Web Services and many more
                recognized platforms, thus obtaining greater security at the storage level of data.
                <br>
                <img width="100%" src="../../assets/images/cloud.jpg">
                <br><br>
                <img width="100%" src="../../assets/images/cloud2.jpg">
            </div>
        </div>
        <div *ngIf="this.idService==3">
            <div class="titleContent">Digital Marketing</div>
            <div class="description">
                Digital Marketing is the set of strategies aimed at promoting a brand on the internet. It differs from
                traditional marketing in that it includes the use of channels and methods that allow the analysis of
                results in real time.
                <br>
                We carry out platforms at the level of marketing campaigns, with the purpose that customers can obtain
                offers from your business, based on the correct logic to create advertising campaigns.
                <br>

            </div>
        </div>
        <div *ngIf="this.idService==4">
            <div class="titleContent">Create a Store</div>
            <div class="description">
                We create online stores with the highest quality standards, where we also offer online payments,
                E-Commerce service, installment payments, user registration for the platform, platforms to make online
                top-ups and orders of any order within reach. from any user.
                <br>
                <img width="100%" src="../../assets/images/storeOnline.png">
            </div>
        </div>
        <div *ngIf="this.idService==5">
            <div class="titleContent">Manage your projects</div>
            <div class="description">
                We create project managers for your business, with the purpose of having control of activities,
                improving the scope of time at the level of computer project management, thus improving the performance
                of each role of your company.
                <br>
                We also establish objectives that can improve the business, we can make quotes to guarantee the cost of
                business with each other, register all the personnel to assign the activities that are taking place,
                verify if the activities performed well with their function and also report the hours worked of each
                person.
                <br>
                <img width="100%" src="../../assets/images/loginPS.png">
                <br><br>
                <img width="100%" src="../../assets/images/dshBrdPS.png">
                <br><br>
                <img width="100%" src="../../assets/images/menuPS.png">
                <br><br>
                <img width="100%" src="../../assets/images/mngrPS.png">
            </div>
        </div>
        <div *ngIf="this.idService==6">
            <div class="titleContent">Infrastructure</div>
            <div class="description">
                We have a necessary infrastructure at the project level, using the latest versions of the servers with
                the highest quality standards, guaranteeing the security of the data information and content provided on
                the website.
                <br>
                <img width="100%" src="../../assets/images/server1.jpg">
                <br><br>
                <img width="100%" src="../../assets/images/server2.jpg">
            </div>
        </div>
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>
</div>