<div class="gridBox">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="longTitle">
        <div *ngIf="this.idService==1" class="padLineCont">
            <div class="titleContent">Mobile and Web Applications</div>
        </div>
        <div *ngIf="this.idService==2" class="padLineCont">
            <div class="titleContent">Cloud Storage</div>
        </div>
        <div *ngIf="this.idService==3" class="padLineCont">
            <div class="titleContent">Create a Store</div>
        </div>
        <div *ngIf="this.idService==4" class="padLineCont">
            <div class="titleContent">Digital Marketing</div>
        </div>
        <div *ngIf="this.idService==5" class="padLineCont">
            <div class="titleContent">Manage your projects</div>
        </div>
        <div *ngIf="this.idService==6" class="padLineCont">
            <div class="titleContent">Infrastructure</div>
        </div>
        <div *ngIf="this.idService==7" class="padLineCont">
            <div class="titleContent">Business Intelligence</div>
        </div>
    </div>
    <div class="content">
        <div *ngIf="this.idService==1">
            <app-web-develop></app-web-develop>
        </div>
        <div *ngIf="this.idService==2">
            <app-cloud-storage></app-cloud-storage>
        </div>
        <div *ngIf="this.idService==3">
            <app-shop-online></app-shop-online>
        </div>
        <div *ngIf="this.idService==4">
            <app-digital-marketing></app-digital-marketing>
        </div>
        <div *ngIf="this.idService==5">
            <app-projects-manager></app-projects-manager>
        </div>
        <div *ngIf="this.idService==6">
            <app-infrastructure></app-infrastructure>
        </div>
        <div *ngIf="this.idService==7">
            <app-business-intelligence></app-business-intelligence>
        </div>
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>
</div>