<div class="gridBox">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">
        <div *ngIf="this.idService==1">
            <div class="titleContent">Mobile and Web Applications</div>
            <div class="description">
                We do development for mobile and web devices, with all the existing quality standards, meeting the needs
                required by customers, applying front-end development tools, it is estimated that in the future we will
                be developing applications for mobile devices in order to obtain the functionalities that customers want
                to have.
                <br>
                Sites have been developed for certain clients who meet the needs of making our work possible.
                <br>
                <img width="100%" src="../../assets/images/mcPR.png">
                <br><br>
                <img width="100%" src="../../assets/images/ClaroStore.png">
            </div>
        </div>
        <div *ngIf="this.idService==2">
            <div class="titleContent">Cloud Storage</div>
            <div class="description">
                Cloud storage consists of storing the data that exists on the platform, guaranteeing all the existing
                information that may be in your business, applying business intelligence (BI) and Big Data techniques,
                seeking deeper analysis at the level of data mining that collects the best necessary information, with a
                team of experts focused on the subject.
                <br>
                <img width="100%" src="../../assets/images/cloud.jpg">
                <br><br>
                <img width="100%" src="../../assets/images/cloud2.jpg">
            </div>
        </div>
        <div *ngIf="this.idService==3">
            <div class="titleContent">Digital Marketing</div>
            <div class="description">
                Descripcion de prueba, aqui se muestra la descripcion detalldad al respecto
            </div>
        </div>
        <div *ngIf="this.idService==4">
            <div class="titleContent">Create a Store</div>
            <div class="description">
                Descripcion de prueba, aqui se muestra la descripcion detalldad al respecto
            </div>
        </div>
        <div *ngIf="this.idService==5">
            <div class="titleContent">Manage your projects</div>
            <div class="description">
                Descripcion de prueba, aqui se muestra la descripcion detalldad al respecto
            </div>
        </div>
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>
</div>