
<div class="description">
    <div class="imageCont">
        <img width="100%" src="../../assets/images/ourServices-backgrounds/cloudStorage.png">
    </div>
    <div class="descCont">
        We manage platforms like Google Cloud and Amazon Web Service, forget about local infrastructure and migrate to cloud services.
        <br><br>
        Benefits
        <ul>
            <li>Costs per use: Bill the expense according to the growth of your business.</li>
            <li>Performance: We manage your resources to improve performance on high flow days and level off for standard flow days thereby reducing overhead and offering a stable user on your system.</li>
            <li>State-of-the-art security: your applications are on the most reliable platforms in the world with periodic security updates and certified worldwide.</li>
            <li>Live Migration: Don't let your web application go offline at any time, your application will be updated repaired in both software and hardware without the need to stop your site.</li>
            <li>Continuous expansion: your application can be seen around the world thanks to the implementation of new data centers managed by Google Cloud, your user can have quick access regardless of their region.</li>
            <li>Security backups: Your system will be in less than 2 regions of the world, thanks to this it will be safe and online against any catastrophe.</li>
        </ul>
    </div>
</div>
