
<div class="description">
    <div class="imageCont">
        <img width="100%" src="../../assets/images/ourServices backgrounds/cloudStorage.png">
    </div>
    <div class="descCont">
        Cloud storage is a tool that provides the needs at the database level, guaranteeing the consumption of
        Web services, using cloud services such as Google Cloud Platform, Amazon Web Services and many more
        recognized platforms, thus obtaining greater security at the storage level of data.
        <br><br>
        Types of accommodation that uses multiple servers. The main benefits of Cloud hosting include an
        increased emphasis on uptime, isolated resources, ease of scale, and a dedicated IP address.
    </div>
</div>
