<div class="containerAutonomoHome">
  <div class="headerAutonomohome">
    <div class="logoAuto">
      <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
    </div>
    <div class="menuAuto">
      <div class="webMenu">
        <div class="aboutUsBoxMenu">About Us</div>
        <div class="servicesBoxMenu">Services</div>
        <div class="howWeWorkBoxMenu">How we work</div>
        <div class="projectsBoxMenu">Projects</div>
        <div class="contactBoxMenu">Contact</div>
      </div>
      <div class="mobileMenu">
        <div>
          <img class="auxBtn" src="../../assets/images/autonomoNewPage/bar-icon2.png">
        </div>
      </div>
    </div>
  </div>
  <div class="automateBusiness">
    <div class="imgTablet">
      <img class="tabImgSettings" src="../../assets/images/autonomoNewPage/autonomomock.png">
    </div>
    <div class="descTablet">
      <div class="weAnswer">WE ARE THE ANSWER</div>
      <div class="titleAutoBusi">Automate your business</div>
      <div class="weDoBusi">We do software development in cloud, data analysis.</div>
      <div class="buttonStart">
        <div class="txtButtonStart">
          Get details
        </div>
      </div>
    </div>
    <div class="curva">
      <img class="curvImgSettings" src="../../assets/images/autonomoNewPage/techwhitecurve.png">
    </div>
  </div>
  <div class="iconsCarousel">
    <div class="technologies-1">
      <div *ngFor="let imge of this.prodList ; let i = index">
        <div class="icon-{{i+1}}">
          <img class="{{imge.nameofclass}}" src="{{imge.imgAdj}}"></div>
      </div>
    </div>
  </div>
  <div class="autonomoIsBox">
    <div class="autonomoIsDescription">
      <div class="aboutUsAutoIsText">ABOUT US</div>
      <div class="autoistext2">Autonomo is</div>
    </div>
    <div class="autonomoisProducts">
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu1.png">
        <div class="descBoxprod">A company with over 15 years of experience in the software development industry.</div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu2.png">
        <div class="descBoxprod">We develop customized Web and Mobile Applications to meet the needs of our clients.
        </div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu3.png">
        <div class="descBoxprod">We provide the best service by creating technological solutions to improve the growth
          of your business.</div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu4.png">
        <div class="descBoxprod">We have a high-level professional team in the technology industry.</div>
      </div>
    </div>
  </div>
  <div class="providesBox">
    <div class="provdesTitle">
      <div class="ourServtitle">SERVICES</div>
      <div class="servProvidesDesc">Our company provides</div>
    </div>
    <div class="providesBox1">
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service01.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Mobile App Development</div>
          <div class="contentdescTitlePrBox">
            We develop custom applications and integrations with existing applications. Drives the growth of your
            business.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service02.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Cloud Hosting</div>
          <div class="contentdescTitlePrBox">
            Google Cloud and Amazon web Services.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service03.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Create a store to sell online</div>
          <div class="contentdescTitlePrBox">
            We offer tailored stores, start selling online.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service04.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Digital Marketing</div>
          <div class="contentdescTitlePrBox">
            Digital campaign system: Massive email and SMS sending, referral program.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
      <div class="itempb min5It">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service05.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Manage your projects</div>
          <div class="contentdescTitlePrBox">
            Project Manager System: Hours and costs report, share activities with your work teams.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
      <div class="itempb only6">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service06.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Infrastructure</div>
          <div class="contentdescTitlePrBox">
            Build this Structure: Manage your servers, manage any networks.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
    </div>
    <div class="providesBox2">
      <div class="itempb noExt">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service05.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Manage your projects</div>
          <div class="contentdescTitlePrBox">
            Project Manager System: Hours and costs report, share activities with your work teams.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
      <div class="itempb no6Ext">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service06.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Infrastructure</div>
          <div class="contentdescTitlePrBox">
            Build this Structure: Manage your servers, manage any networks.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service07.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Business Intelligence</div>
          <div class="contentdescTitlePrBox">
            Apply a Big Data and analyze your information.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="our-method">
    <div class="imageMeth">
      <img class="imgbaseMethod" src="../../assets/images/autonomoNewPage/scrumimg.png">
    </div>
    <div class="descMeth">
      <div class="howWeTitle">HOW WE WORK</div>
      <div class="howWeBigTitle">Our methodologies: Agile & live product advance status</div>
      <div class="howWeDescritpion">We use the scrum methodology to manage software development, you will be able to
        visualize the growth of your
        project step by step and align your company's commercial objectives.
        <br><br>
        Our offices are located in a comfortable
        Time Zone to communicate with our clients in North America, Canada, Europe and Latin America.</div>
    </div>
  </div>
  <div class="ourWork">
    <div class="ourWorkDesc">
      <div class="projectsOurW">PROJECTS</div>
      <div class="ourWorkTitle">Our work</div>
      <div class="ourWorkDescription">
        We have a specialized team in areas such as web development, mobile, infrastructure and business intelligence
        with more than 15 years in the area. Counting with clients from different countries in the areas of
        telecommunications, insurance, laboratories, we can enhance their processes. We focus on development in C#,
        Angular, React, Sql Server, Cloud computing.
      </div>
      <div class="buttonWork">
        <div class="startProjectsTxtButton">
          See all our projects
        </div>
      </div>
    </div>
    <div class="ourWorkImgs">
      <div class="projectBox">
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle39.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle40.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle41.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle42.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle43.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle44.png">
        </div>
      </div>
    </div>
    <div class="buttonWorkMob">
      <div class="startProjectsTxtButton">
        See all our projects
      </div>
    </div>
  </div>
  <div class="contactBox">
    <div class="contectAdress">
      <div class="locationTitle">LOCATION</div>
      <div class="adressesTitle">Addresses</div>
      <div class="city1">Bogotá</div>
      <div class="address1">Cra. 58 #117-50</div>
      <div class="lineSep"></div>
      <div class="city2">México</div>
      <div class="address2">Calle 1</div>
    </div>
    <div class="sendus">
      <div class="contTitle">CONTACT</div>
      <div class="sendUsTitleContact">Send us a Message</div>
      <div class="formBox">
        <input class="nameBox" placeholder="Your name">
        <input class="emailBox" placeholder="Your email">
        <select class="selectBox">
          <option disabled value="">Project Type</option>
          <option value="pw">Web Development</option>
          <option value="am">Mobile App</option>
          <option value="in">Infrastructure</option>
          <option value="bi">Business intelligence</option>
        </select>
      </div>
      <input class="descriptionForWrite" placeholder="Write a brief description of your project.">
      <div class="buttonWorkMob">
        <div class="startProjectsTxtButton">
          See all our projects
        </div>
      </div>
    </div>
  </div>
  <div class="footerFinal">
    <div class="logoF">
      <img width="100%" class="as-logo-princ centeringF" src="../../assets/images/white.png">
    </div>
    <div class="opcF">
      <div class="itemFC">About us</div>
      <div class="itemFC">Services</div>
      <div class="itemFC">How we work</div>
      <div class="itemFC">Projects</div>
      <div class="itemFC">Contact</div>
    </div>
    <div class="copyF">© 2020 Autonomo System - All rights reserved.</div>
  </div>
</div>