<div class="containerAutonomoHome">
  <div class="headerAutonomohome">
    <div class="logoAuto">
      <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
    </div>
    <div class="menuAuto">
      <div class="webMenu">
        <div class="aboutUsBoxMenu" (click)="this.goToId1(i)"
          *ngFor="let menuItem of this.language.content.menu ; let i = index">{{menuItem.text}}</div>
      </div>
      <div class="mobileMenu" (click)="this.showMenuMobile()">
        <div>
          <img class="auxBtn" src="../../assets/images/autonomoNewPage/bar-icon2.png">
        </div>
      </div>
    </div>
    <div class="menuMobileStyl" *ngIf="this.menuMobile==true" [@EnterLeave]>
      <div class="aboutUsBoxMenu suportMob" (click)="this.goToIdM(i)"
        *ngFor="let menuItem of this.language.content.menu ; let i = index">{{menuItem.text}}</div>
    </div>
  </div>
  <div class="automateBusiness">
    <div class="imgTablet">
      <img class="tabImgSettings" src="../../assets/images/autonomoNewPage/autonomomock.png">
    </div>
    <div class="descTablet">
      <div class="weAnswer">{{this.language.content.titleA}}</div>
      <div class="titleAutoBusi">{{this.language.content.titleB}}</div>
      <div class="weDoBusi">{{this.language.content.titleC}}</div>
      <div class="buttonStart" (click)="this.seeDetails()">
        <div class="txtButtonStart">
          {{this.language.content.button}}
        </div>
      </div>
    </div>
    <div class="curva">
      <img class="curvImgSettings" src="../../assets/images/autonomoNewPage/techwhitecurve.png">
    </div>
  </div>
  <div class="iconsCarousel">
    <div class="layerLeft" (click)="this.changeIcon()">
      <img class="signalSupport" src="../../assets/images/autonomoNewPage/leftSignalChange.png">
    </div>
    <div class="technologies-1" *ngIf="this.slideIcons==false">
      <div *ngFor="let imge of this.prodList ; let i = index">
        <div [@fadeInOut] class="icon-{{i+1}}">
          <img class="{{imge.nameofclass}}" src="{{imge.imgAdj}}"></div>
      </div>
    </div>
    <div class="technologies-1" *ngIf="this.slideIcons==true">
      <div *ngFor="let imge2 of this.prodList2 ; let i = index">
        <div [@fadeInOut] class="icon-{{i+1}}">
          <img class="{{imge2.nameofclass}}" src="{{imge2.imgAdj}}"></div>
      </div>
    </div>
    <div class="layerRight" (click)="this.changeIcon()">
      <img class="signalSupport" src="../../assets/images/autonomoNewPage/rightSignalChange.png">
    </div>
  </div>
  <div class="autonomoIsBox" id="aboutUs">
    <div class="autonomoIsDescription">
      <div class="aboutUsAutoIsText">{{this.language.content.aboutUsTitleA}}</div>
      <div class="autoistext2">{{this.language.content.aboutUsTitleB}}</div>
    </div>
    <div class="autonomoisProducts">
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu1.png">
        <div class="descBoxprod">{{this.language.content.aboutUsItems[0]}}</div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu2.png">
        <div class="descBoxprod">{{this.language.content.aboutUsItems[1]}}
        </div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu3.png">
        <div class="descBoxprod">{{this.language.content.aboutUsItems[2]}}</div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu4.png">
        <div class="descBoxprod">{{this.language.content.aboutUsItems[3]}}</div>
      </div>
    </div>
  </div>
  <div class="providesBox">
    <div class="provdesTitle">
      <div class="ourServtitle" id="services">{{this.language.content.servicesTitleA}}</div>
      <div class="servProvidesDesc">{{this.language.content.servicesTitleB}}</div>
    </div>
    <!--Inicio resolución minima 1920px-->
    <div class="providesBox1 extend5">
      <div class="itempb" *ngFor="let service of this.language.content.services | slice:0:5; index as i;">
        <div class="imgBaseProd">
          <img class="imgBasePr" [src]="service.src">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">{{service.title}}</div>
          <div class="contentdescTitlePrBox">{{service.text}}</div>
        </div>
        <div class="rightSignal" (click)="this.gotoId(i+1)">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
    </div>
    <!--Fin resolución minima 1920px-->
    <div class="providesBox1 normalBox">
      <div class="itempb" *ngFor="let service of this.language.content.services | slice:0:4; index as i;">
        <div class="imgBaseProd">
          <img class="imgBasePr" [src]="service.src">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">{{service.title}}</div>
          <div class="contentdescTitlePrBox">{{service.text}}</div>
        </div>
        <div class="rightSignal" (click)="this.gotoId(i+1)">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
    </div>
    <!--Inicio resolución maxima 1350px-->
    <div class="providesBox1 mobBox">
      <div class="itempb" *ngFor="let service of this.language.content.services | slice:0:6; index as i;">
        <div class="imgBaseProd">
          <img class="imgBasePr" [src]="service.src">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">{{service.title}}</div>
          <div class="contentdescTitlePrBox">{{service.text}}</div>
        </div>
        <div class="rightSignal" (click)="this.gotoId(i+1)">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
    </div>
    <!--Fin resolución maxima 1350px-->
    <!--Inicio resolución minima 1920px-->
    <div class="providesBox2 extend5">
      <div class="itempb" *ngFor="let service of this.language.content.services | slice:5:7; index as i;">
        <div class="imgBaseProd">
          <img class="imgBasePr" [src]="service.src">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">{{service.title}}</div>
          <div class="contentdescTitlePrBox">{{service.text}}</div>
        </div>
        <div class="rightSignal" (click)="this.gotoId(i+6)">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
    </div>
    <!--Fin resolución minima 1920px-->
    <div class="providesBox2 normalBox">
      <div class="itempb" *ngFor="let service of this.language.content.services | slice:4:7; index as i;">
        <div class="imgBaseProd">
          <img class="imgBasePr" [src]="service.src">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">{{service.title}}</div>
          <div class="contentdescTitlePrBox">{{service.text}}</div>
        </div>
        <div class="rightSignal" (click)="this.gotoId(i+5)">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
    </div>
    <!--Inicio resolución maxima 1350px-->
    <div class="providesBox2 mobBox">
      <div class="itempb" *ngFor="let service of this.language.content.services | slice:6:7; index as i;">
        <div class="imgBaseProd">
          <img class="imgBasePr" [src]="service.src">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">{{service.title}}</div>
          <div class="contentdescTitlePrBox">{{service.text}}</div>
        </div>
        <div class="rightSignal" (click)="this.gotoId(i+7)">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
    </div>
    <!--Fin resolución maxima 1350px-->
  </div>
  <div class="howWeSpac" id="howWeWork"></div>
  <div class="our-method" id="howWeWorkMob">
    <div class="imageMeth">
      <img class="imgbaseMethod" src="../../assets/images/autonomoNewPage/scrumimg.png">
    </div>
    <div class="descMeth">
      <div class="howWeTitle">{{this.language.content.howWeWork.titleA}}</div>
      <div class="howWeBigTitle">{{this.language.content.howWeWork.titleB}}</div>
      <div class="howWeDescritpion">{{this.language.content.howWeWork.textA}}
        <br><br>
        {{this.language.content.howWeWork.textB}}</div>
    </div>
  </div>
  <div class="projectSpac" id="projects"></div>
  <div class="ourWork" id="projectsMob">
    <div class="ourWorkDesc">
      <div class="projectsOurW">{{this.language.content.projects.titleA}}</div>
      <div class="ourWorkTitle">{{this.language.content.projects.titleB}}</div>
      <div class="ourWorkDescription">{{this.language.content.projects.text}}
      </div>
      <div class="buttonWork" (click)="this.gotoOurP()">
        <div class="startProjectsTxtButton">
          {{this.language.content.projects.button}}
        </div>
      </div>
    </div>
    <div class="ourWorkImgs">
      <div class="projectBox">
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle39.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle40.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle41.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle42.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle43.png">
        </div>
        <div class="itempj">
          <img width="100%" height="100%" src="../../assets/images/autonomoNewPage/Rectangle44.png">
        </div>
      </div>
    </div>
    <div class="buttonWorkMob1" (click)="this.gotoOurP()">
      <div class="startProjectsTxtButton">
        {{this.language.content.projects.button}}
      </div>
    </div>
  </div>
  <div class="contactBox" id="contactUs">
    <div class="contectAdress">
      <div class="locationTitle">{{this.language.content.contact.left.titleA}}</div>
      <div class="adressesTitle">{{this.language.content.contact.left.titleB}}</div>
      <div *ngFor="let address of this.language.content.contact.left.addresses; index as i;">
        <div class="city1">{{address.city}}</div>
        <div class="address1">{{address.address}}</div>
        <div class="address1">{{address.phone}}</div>
        <div class="lineSep"></div>
      </div>
    </div>
    <div class="sendus">
      <div class="contTitle">{{this.language.content.contact.right.titleA}}</div>
      <div class="sendUsTitleContact">{{this.language.content.contact.right.titleA}}</div>
      <form id="formAutonomo" [formGroup]="orderForm">
        <div class="formBox">
          <input type="text" class="nameBox" placeholder="{{this.language.content.contact.right.placeholderA}}" required
            formControlName="nameClient" id="nameClient">
          <input type="text" class="emailBox" placeholder="{{this.language.content.contact.right.placeholderB}}"
            required formControlName="emailClient" id="emailClient">
          <select class="selectBox" required formControlName="projectType" id="projectType">
            <option disabled value="">{{this.language.content.contact.right.placeholderC}}</option>
            <option value="pw">{{this.language.content.contact.right.placeholderC1}}</option>
            <option value="am">{{this.language.content.contact.right.placeholderC2}}</option>
            <option value="in">{{this.language.content.contact.right.placeholderC3}}</option>
            <option value="bi">{{this.language.content.contact.right.placeholderC4}}</option>
          </select>
        </div>
        <textarea class="descriptionForWrite" placeholder="{{this.language.content.contact.right.placeholderD}}"
          required formControlName="projectDescription" id="projectDescription"></textarea>
      </form>
      <div class="buttonSent" (click)="this.sentForm()">
        <div class="startProjectsTxtButton">
          {{this.language.content.contact.right.button}}
        </div>
      </div>
      <div class="buttonWorkMob">
        <div class="startProjectsTxtButton">
          {{this.language.content.contact.right.button}}
        </div>
      </div>
    </div>
  </div>
  <div class="footerFinal">
    <div class="logoF">
      <img width="100%" class="as-logo-princ centeringF" src="../../assets/images/white.png">
    </div>
    <div class="opcF">
      <div class="itemFC" (click)="this.goToId1(i)" *ngFor="let menuItem of this.language.content.menu ; let i = index">
        {{menuItem.text}}</div>
    </div>
    <div class="copyF">{{this.language.content.copyrightText}}</div>
  </div>
</div>