.containerAutonomoHome
    display: grid
    grid-template: 100px 565px 170px 655px auto 0px auto 0px 515px 610px 285px/100%
.boldTxt
    font-weight: bold
.headerAutonomohome
    display: grid
    grid-template: auto/47% 53%
    background: linear-gradient(0deg, #0E8ECE, #0E8ECE)
.webMenu
    display: block
.mobileMenu
    display: none
.as-logo-princ
    width: 195px
.logoAuto
    padding-left: 50px
.menuAuto
    padding-right: 20px
.webMenu
    display: grid
    grid-template: auto/ repeat(5, 1fr)
    align-items: center
    justify-items: center
    cursor: pointer
    padding: 45px 0px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 20px
    color: #FFFFFF
.automateBusiness
    display: grid
    grid-template: auto auto/ 50% 50%
    background: linear-gradient(0deg, #0E8ECE, #0E8ECE)
.curva
    grid-column: 1 / span 2
    position: relative
    bottom: 80px
.tabImgSettings
    width: 100% 
    height: 545px
    position: relative
.curvImgSettings
    width: 100%
    height: 100px
.descTablet
    padding: 40px 75px 30px 40px 
.weAnswer
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.175em
    color: #FFFFFF
.titleAutoBusi
    width: 100%
    max-width: 560px
    font-family: Continuum Medium
    font-style: normal
    font-weight: normal
    font-size: 64px
    line-height: 64px
    color: #FFFFFF
    margin-top: 5px
.weDoBusi
    width: 100%
    max-width: 612px
    margin-top: 25px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 21px
    color: #FFFFFF
.buttonStart
    margin-top: 30px
    width: 200px
    height: 50px
    background: #33CFC6
    border-radius: 5px
    cursor: pointer
.txtButtonStart
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    text-align: center
    color: #FFFFFF
    padding: 20px 40px 20px 40px
.iconsCarousel
    display: grid
    grid-template: auto / 45px auto 45px
.layerLeft
    width: 45px
    height: 45px
    float: left
    margin: 60px 0px
    background: #F1F1F1
    cursor: pointer
.layerRight
    width: 45px
    height: 45px
    float: right
    margin: 60px 0px
    background: #F1F1F1
    cursor: pointer
.signalSupport
    margin: 12px 13px 12px 10px
.technologies-1
    display: grid
    grid-template-columns: repeat(8,1fr)
    grid-template-rows: 1fr
.icon-1
    grid-column: 1 / span 1
    grid-row: 1
    text-align: center
    padding: 50px 0px
.icon-2
    grid-column: 2 / span 
    grid-row: 1
    text-align: center
    padding: 50px 0px
.icon-3
    grid-column: 3 / span 1
    grid-row: 1
    text-align: center
    padding: 50px 0px
.icon-4
    grid-column: 4 / span 1
    grid-row: 1
    text-align: center
    padding: 50px 0px
.icon-5
    grid-column: 5 / span 1
    grid-row: 1
    text-align: center
    padding: 50px 0px
.icon-6
    grid-column: 6 / span 1
    grid-row: 1
    text-align: center
    padding: 50px 0px
.icon-7
    grid-column: 7 / span 1
    grid-row: 1
    text-align: center
    padding: 50px 0px
.icon-8
    grid-column: 8 / span 1
    grid-row: 1
    text-align: center
    padding: 50px 0px
.py-icon, .php-icon, .ang-icon, .react-icon, .ionic-icon, .char-icon
    width: 65px
    height: 65px
.aws-icon
    width: 60px
    height: 35px
.autonomoIsBox
    background: #FAFAFB
    display: grid
    grid-template: 220px 430px/ 100%
    padding: 0 50px
.aboutUsAutoIsText
    text-align: center
    padding-top: 90px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    text-align: center
    letter-spacing: 0.175em
    color: #A5A5A5
.autoistext2
    font-family: Continuum Medium
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 50px
    text-align: center
    color: #0E8ECE
    margin-top: 5px
.itemPr
    width: 100%
    display: grid
    grid-template-columns: 195px 1fr
    background: #FFFFFF
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07)
    border-radius: 5px
.autonomoisProducts
    display: grid
    grid-template: repeat(2, 130px)/49% 49%
    grid-gap: 55px 2%
.imgItemPr
    width: 195px
    height: 130px
.descBoxprod
    padding: 10px 30px
    height: 130px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    display: -webkit-box
    align-items: center
    color: #363636
.providesBox
    display: grid
    grid-template: auto auto auto / 100%
    padding: 0px 50px
.ourServtitle
    margin-top: 85px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    text-align: center
    letter-spacing: 0.175em
    color: #A5A5A5
.servProvidesDesc
    margin-top: 5px
    font-family: Continuum Medium
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 50px
    text-align: center
    color: #0E8ECE
.providesBox1
    display: grid
    grid-template: 330px/repeat(4, 21%)
    grid-gap: 0px 5.5%
    padding-top: 70px
.providesBox2
    display: grid
    grid-template: 330px/repeat(3, 21%)
    grid-gap: 0px 5.5%
    margin-top: 85px
    justify-content: center
    padding-bottom: 155px
.itempb
    width: 100%
    max-width: 290px
    height: 330px
    background: #FFFFFF
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12)
    border-radius: 5px
    display: grid
    grid-template: 155px 150px / 100%
.imgBaseProd
    display: table
    margin: 30px auto 15px auto
.imgBasePr
    width: 110px
    height: 110px
.descriptionPrBox
    margin-top: 15px
.descTitlePrBox
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 21px
    height: 30px
    text-align: center
    color: #363636
.contentdescTitlePrBox
    margin-top: 5px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 21px
    text-align: center
    color: #363636
    padding: 0px 23px
.rightSignal
    width: 60px
    height: 60px
    cursor: pointer
    background: #33CFC6
    border-radius: 38px
    position: relative
    top: -15%
    display: table
    margin: 0 auto
.rightSig
    display: table
    margin: 15px auto
.our-method
    background: #33CFC6
    display: grid
    grid-template: auto / 30% 70%
    padding: 0px 50px
.imgbaseMethod
    width: 260px
    height: 250px
.howWeSpac, .projectSpac
    position: relative
    top: -120px
    bottom: 0%     
.imageMeth
    padding: 75px 0px 120px 0px
.howWeTitle
    padding-top: 90px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.175em
    color: #FFFFFF
.howWeBigTitle
    margin-top: 5px
    width: 100%
    font-family: Continuum Medium
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 50px
    color: #FFFFFF
.howWeDescritpion
    margin-top: 30px
    width: 100%
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 21px
    color: #FFFFFF
.ourWork    
    display: grid
    grid-template: auto / 50% 50%
.ourWorkDesc
    padding-left: 50px
    padding-right: 20px
.projectsOurW
    width: 100%
    max-width: 520px
    padding-top: 100px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.175em
    color: #A5A5A5
.ourWorkTitle
    margin-top: 5px
    width: 100%
    max-width: 403px
    height: 50px
    font-family: Continuum Medium
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 50px
    color: #0E8ECE
.ourWorkDescription
    margin-top: 30px
    width: 100%
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 21px
    color: #363636
.buttonWork
    width: 200px
    height: 50px
    background: #33CFC6
    border-radius: 5px
    margin-top: 45px
    cursor: pointer
.startProjectsTxtButton
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    text-align: center
    color: #FFFFFF
    padding: 15px
.projectBox
    padding-top: 100px
    display: grid
    grid-template: repeat(2, 130px) / repeat(3, 160px)
    grid-gap: 35px
.contactBox
    background: #0E8ECE
    display: grid
    grid-template: auto / 33% 67%
.ourWorkImgs
    padding-right: 50px
    padding-left: 20px
.contectAdress
    padding-left: 50px
.locationTitle, .contTitle
    padding-top: 95px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.175em
    color: #FFFFFF
.adressesTitle, .sendUsTitleContact
    margin-top: 5px
    max-width: 215px
    width: 100%
    font-family: Continuum Medium
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 50px
    color: #FFFFFF
.city1
    margin-top: 25px
    max-width: 215px
    width: 100%
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 21px
    color: #FFFFFF
.address1
    margin-top: 10px
    max-width: 215px
    width: 100%
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    color: #FFFFFF
.lineSep
    margin-top: 20px
    width: 25px
    height: 0px
    border: 1px solid #FFFFFF
.city2
    margin-top: 20px
    max-width: 215px
    width: 100%
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 21px
    color: #FFFFFF
.address2
    margin-top: 10px
    max-width: 215px
    width: 100%
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 16px
    color: #FFFFFF
.sendus
    padding-right: 50px
    background-image: url("../../assets/images/autonomoNewPage/contactmapbg.png")
    background-size: 100% 475px
    background-repeat: no-repeat
    background-position: 0px 70px
.sendUsTitleContact
    max-width: 761px !important
.formBox
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 50px
    grid-gap: 35px 40px
    padding-top: 40px
.nameBox
    grid-row: 1
    grid-column: 1
    width: 100%
    background: #FFFFFF
    border: 1px solid #ffffff
    border-radius: 5px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 16px
    padding: 15px
.emailBox
    grid-row: 1
    grid-column: 2
    width: 100%
    background: #FFFFFF
    border: 1px solid #ffffff
    border-radius: 5px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 16px
    padding: 15px
.selectBox
    grid-row: 1
    grid-column: 3
    width: 100%
    background: #FFFFFF
    color: #757575
    border: 1px solid #ffffff
    border-radius: 5px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 1.5
    padding: 15px
.descriptionForWrite
    margin-top: 35px
    width: 100%
    height: 135px
    background: #FFFFFF
    border: 1px solid #ffffff
    border-radius: 5px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 16px
    padding: 15px
.footerFinal
    background: #363636
    display: grid
    grid-template: 110px 55px 120px/ 1fr
.centeringF
    padding-top: 35px
    display: table
    margin: 0 auto
.opcF
    display: grid
    grid-template: auto/ repeat(5, auto)
    cursor: pointer
    margin-top: 30px
    padding: 0px 20%
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 20px
    color: #FFFFFF
.copyF
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 14px
    text-align: center
    color: #FFFFFF
    margin-top: 45px
.buttonWorkMob, .min5It, .only6
    display: none
.noExt
    display: grid
.buttonSent
    width: 240px
    height: 50px
    margin: 35px 0px 0px 0px
    background: #33CFC6
    border-radius: 5px
    float: right
    cursor: pointer
.extend5
    display: none
.mobBox
    display: none
.tabMob
    display: none
.webLink
    display: block
a
    color: #ffffff !important
@media only screen and (min-width: 1920px)
    .sendus
        background-position: 50%
        background-size: 1200px 475px
    .providesBox1
        grid-template: 330px/repeat(5, 16%)
        grid-gap: 0px 5%
    .providesBox2
        grid-template: 330px/repeat(2, 16%)
        grid-gap: 0px 5%
    .extend5
        display: grid
    .normalBox
        display: none
@media only screen and (max-width: 1350px)
    .imageMeth
        padding: 75px 0px 120px 0px
    .ourWork
        grid-template: auto/50% 50%
    .providesBox1
        grid-template: 330px/repeat(3, 31%)
        grid-gap: 45px 3.80%
    .providesBox2
        grid-template: 330px/repeat(1, 31%)
        grid-gap: 45px 3.80%
    .normalBox
        display: none
    .mobBox
        display: grid
@media only screen and (min-width: 1280px)
    .projectBox
        justify-content: center
@media only screen and (min-width: 1225px)
    .imgbaseMethod
        display: table
        margin: 0 auto
@media only screen and (min-width: 991px) and (max-width: 1190px)
    .projectBox
        grid-template: repeat(3, 130px)/repeat(2, 45%)
        grid-gap: 10%
        padding-bottom: 130px
    .containerAutonomoHome
        grid-template: 100px 565px 170px 655px auto 0px auto 0px auto 610px 285px/100%
@media only screen and (max-width: 1045px)
    .headerAutonomohome
        grid-template: auto/30% 70%
@media only screen and (max-width: 991px)
    .tabMob
        display: block
    .webLink
        display: none
    .webMenu
        font-size: 16px
    .containerAutonomoHome
        grid-template: 100px 565px 170px 905px auto 0px auto 0px auto 610px 285px/100%
    .contactBox
        grid-template: auto/33% 1fr
    .itempb
        max-width: 415px
    .ourWork
        grid-template: auto auto 145px/100%
        padding: 0px 25px
    .projectsOurW
        padding-top: 50px
        max-width: 245px
    .ourWorkTitle
        max-width: 330px
        font-size: 40px
        line-height: 50px 
    .howWeBigTitle
        font-size: 36px
        line-height: 45px
    .ourWorkDesc
        padding-left: 0px
        padding-right: 0px   
    .ourWorkDescription
        margin-top: 25px
        max-width: 991px
    .buttonWork
        display: none
    .projectBox
        padding-top: 0px
        grid-template: repeat(2, 130px)/repeat(3, 30%)
        grid-gap: 3.3%
    .buttonWorkMob
        height: 50px
        margin-top: 50px
        background: #33CFC6
        border-radius: 5px
        cursor: pointer
    .buttonWorkMob1
        width: 240px
        height: 50px
        display: table
        margin: 50px auto 40px auto
        background: #33CFC6
        border-radius: 5px
        cursor: pointer
    .ourWorkImgs
        padding-right: 20px
        padding-top: 40px
    .providesBox
        grid-template: auto auto auto/100%
    .providesBox1
        margin-top: 20px
    .providesBox1
        grid-template: 330px/repeat(2, 48%)
        grid-gap: 45px 4%
        justify-content: start
    .providesBox2
        grid-template: 330px/repeat(1, 48%)
        grid-gap: 45px 4%
        justify-content: center
        padding-bottom: 90px
    .our-method    
        grid-template: 230px auto/100%
        padding: 0px 25px
    .imageMeth
        padding: 0px
    .imgbaseMethod
        width: 160px
        height: 155px
        padding: 0px
        margin: 40px 20px 25px 0px
    .howWeTitle
        padding-top: 25px
    .howWeDescritpion 
        margin-top: 35px
        max-width: 768px
        margin-bottom: 40px
        padding-right: 0px
    .autonomoisProducts
        grid-template: repeat(4, 130px)/100%
        grid-gap: 30px
    .itemPr
        max-width: 991px
    .imgItemPr
        width: 100%
        height: 130px
    .descBoxprod
        padding: 0px
        height: auto
        margin-top: 20px
        padding-left: 30px
        padding-right: 30px
    .titleAutoBusi
        font-size: 48px
        line-height: 56px
@media only screen and (min-width: 768px) and (max-width: 1069px)
    .automateBusiness
        grid-template: auto auto/45% 55%
@media only screen and (max-width: 768px)
    .buttonWorkMob1
        width: 100%
        max-width: 768px
    .buttonWorkMob
        margin-top: 30px
    .titleAutoBusi
        font-size: 48px
        line-height: 48px
    .titleAutoBus
        max-width: 320px
        font-size: 48px
        line-height: 48px
    .weDoBusi
        line-height: 26px
        height: auto
    .buttonSent
        display: none
    .layerRight, .layerLeft
        display: none
    .iconsCarousel
        grid-template: auto / auto
    .descBoxprod
        padding-left: 0px
        padding-right: 0px
    .curvImgSettings
        height: 35px
    .curva
        bottom: 30px
    .itemPr
        padding: 20px
        grid-template: 90px auto /100%
    .imgItemPr
        width: 135px
        height: 90px
    .providesBox
        grid-template: 125px auto auto/100%
        padding: 0px 25px
    .providesBox1
        margin-top: 20px
    .providesBox1, .providesBox2
        grid-template: 330px/100%
        grid-gap: 45px
        justify-content: start
    .providesBox2
        margin-top: 45px
    .buttonWorkMob
        display: block
    .as-logo-princ
        width: 135px
    .auxBtn
        width: 30px
        height: 30px
        display: table
        margin: 15px auto
    .buttonStart
        width: 100%
    .tabImgSettings
        width: 78%
        height: auto
    .descTablet
        padding: 40px 25px 30px 25px
    .icon-1
        padding: 35px 0px
    .icon-2
        padding: 35px 0px
    .icon-3
        padding: 35px 0px
    .icon-4
        padding: 35px 0px
    .logoAuto
        padding-left: 25px
    .mobileMenu
        cursor: pointer
        display: block
    .webMenu
        display: none
    .containerAutonomoHome
        grid-template: 65px auto 105px auto auto 0px auto 0px auto auto 200px/100%
    .headerAutonomohome
        grid-template: auto/1fr 50px
        border: 1px solid #0E8ECE
    .automateBusiness
        grid-template: auto auto 0px/100%
    .imgTablet
        grid-row: 2
    .descTablet
        grid-row: 1
    .technologies-1
        display: grid
        grid-template-columns: repeat(4,1fr)
        grid-template-rows: 1fr
    .icon-5, .icon-6, .icon-7, .icon-8
        display: none
    .py-icon, .php-icon, .ang-icon, .react-icon, .ionic-icon, .chcar-icon
        width: 40px
        height: 40px
    .aws-icon
        width: 50px
        height: 30px
    .aboutUsAutoIsText
        padding-top: 35px
        text-align: left
    .autoistext2
        text-align: left
        font-size: 36px
        line-height: 45px
    .autonomoIsBox
        grid-template: 145px auto/100%
        padding: 0px 25px 40px 25px
    .autonomoisProducts
        grid-template: repeat(4, auto)/100%
        grid-gap: 30px
    .ourServtitle
        margin-top: 45px
        text-align: left
    .sendUsTitleContact, .adressesTitle
        font-size: 36px
        line-height: 45px
    .servProvidesDesc
        text-align: left
        font-size: 36px
        line-height: 45px
    .imgBaseProd
        padding: 30px 0px 15px 0px
        display: table
        margin: 30px auto 15px auto
    .itempb
        max-width: 768px
        grid-template: 185px 80px/100%
    .rightSignal
        top: 55%
    .contactBox
        grid-template: auto auto /100%
    .contectAdress
        grid-row: 2
        padding-left: 25px
        padding-bottom: 45px
    .sendus
        grid-row: 1
        padding: 0px 25px
        background-position: 0px 20px
        background-size: 100% 205px
    .formBox
        grid-template-columns: 1fr
        grid-template-rows: 50px 50px 50px
        padding-right: 0px
        padding-top: 30px
    .emailBox
        grid-row: 2
        grid-column: 1
    .selectBox
        grid-row: 3
        grid-column: 1
    .contTitle
        padding-top: 50px
    .locationTitle
        padding-top: 45px
    .footerFinal
        grid-template: 60px auto auto/100%
    .centeringF
        margin: 0 25px
        padding-top: 15px
    .opcF
        align-items: start
        justify-items: start
        font-size: 12px
        line-height: 14px
        grid-template: 15px /repeat(5, auto)
        padding: 0px 25px
        grid-gap: 15px 25px
    .copyF
        margin-top: 25px
        margin-left: 25px
        text-align: left
    .projectBox
        grid-template: repeat(2, 80px)/repeat(3, 30%)
        justify-content: center
    .howWeDescritpion, .ourWorkDescription
        text-align: justify
    .ourWorkImgs
        padding-right: 0px
        padding-left: 0px
    .menuMobileStyl
        grid-column: 1 / span 2
        background: linear-gradient(0deg, #0E8ECE, #0E8ECE)
        align-items: center
        justify-items: center
        cursor: pointer
        font-family: Roboto
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 20px
        color: #FFFFFF
        position: relative
        height: 200px
        display: grid
    .suportMob
        border-bottom: 2px solid #0E8ECE
    .suportMob:hover
        border-bottom: 2px solid #ffffff
    .providesBox1
        padding-top: 45px
@media only screen and (max-width: 430px)
    .autoistext2, .servProvidesDesc, .howWeBigTitle, .ourWorkTitle, .sendUsTitleContact, .adressesTitle
        font-size: 30px
        line-height: 36px
@media only screen and (max-width: 395px)
    .contentdescTitlePrBox
        font-size: 12px
@media only screen and (max-width: 375px)
    .rightSignal
        top: 70%
    .providesBox1, .providesBox2
        grid-template: 365px/100%
    .itempb
        height: 365px
    .opcF
        grid-template: 15px /repeat(3, auto)
@media only screen and (max-width: 353px)
    .descBoxprod
        height: auto
    .autonomoisProducts
        grid-template: repeat(4, auto)/100%
@media only screen and (max-width: 346px)
    .weDoBusi
        font-size: 16px

