.containerAutonomoHome
    display: grid
    grid-template: 115px 511px 99px 203px 653px 1162px 440px 514px 606px 281px/ 1fr
.headerAutonomohome
    border: 1px solid
    display: grid
    grid-template: auto/ 1fr minmax(542px, 1fr)
.logoAuto, .menuAuto, .imgTablet, .descTablet, .curva, .iconsCarousel, .item, .provdesTitle
    border: 1px solid
.automateBusiness
    border: 1px solid
    display: grid
    grid-template: auto/ 1fr minmax(542px, 1fr)
.autonomoIsBox
    border: 1px solid
    display: grid
    grid-template: 222px 431px/ 1fr
.autonomoisProducts
    display: grid
    justify-content: center
    grid-template: repeat(2, 131px) / 1fr 1fr 
    grid-gap: 53px 48px
.providesBox
    border: 1px solid
    display: grid
    grid-template: 231px 362px 447px / 1fr
.providesBox1
    border: 1px solid
    display: grid
    grid-template: auto / repeat(4, 300px)
    grid-gap: 0px 45px
    justify-content: center
.providesBox2
    border: 1px solid
    display: grid
    grid-template: auto / repeat(3, 300px)
    justify-content: center
    margin-top: 85px
    grid-gap: 0px 45px
.our-method
    border: 1px solid
    display: grid
    grid-template: auto / 510px 1fr 
.imageMeth, .descMeth, .ourWorkDesc, .ourWorkImgs
    border: 1px solid
.ourWork    
    border: 1px solid
    display: grid
    grid-template: auto / 1fr 1fr 
.contactBox
    border: 1px solid
    display: grid
    grid-template: auto / 1fr 1fr 