<div class="containerAutonomoHome">
  <div class="headerAutonomohome">
    <div class="logoAuto">
      <img width="100%" class="as-logo-princ" src="../../assets/images/white.png">
    </div>
    <div class="menuAuto">
      <div class="webMenu">
        <div class="aboutUsBoxMenu">About Us</div>
        <div class="servicesBoxMenu">Services</div>
        <div class="howWeWorkBoxMenu">How we work</div>
        <div class="projectsBoxMenu">Projects</div>
        <div class="contactBoxMenu">Contact</div>
      </div>
      <div class="mobileMenu">
        <div>M</div>
      </div>
    </div>
  </div>
  <div class="automateBusiness">
    <div class="imgTablet">
      <img class="tabImgSettings" src="../../assets/images/autonomoNewPage/autonomomock.png">
    </div>
    <div class="descTablet">
      <div class="weAnswer">WE ARE THE ANSWER</div>
      <div class="titleAutoBusi">Automate your business</div>
      <div class="weDoBusi">We do software development in cloud, data analysis.</div>
      <div class="buttonStart">
        <div class="txtButtonStart">
          Get details
        </div>
      </div>
    </div>
    <div class="curva">
      <img class="curvImgSettings" src="../../assets/images/autonomoNewPage/techwhitecurve.png">
    </div>
  </div>
  <div class="iconsCarousel">
    <div class="technologies-1">
      <div *ngFor="let imge of this.prodList ; let i = index">
        <div class="icon-{{i+1}}" [style.padding]=imge.paddingIcon>
          <img class="{{imge.nameofclass}}" src="{{imge.imgAdj}}"></div>
      </div>
    </div>
  </div>
  <div class="autonomoIsBox">
    <div class="autonomoIsDescription">
      <div class="aboutUsAutoIsText">ABOUT US</div>
      <div class="autoistext2">Autonomo is</div>
    </div>
    <div class="autonomoisProducts">
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu1.png">
        <div class="descBoxprod">A company with over 15 years of experience in the software development industry.</div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu2.png">
        <div class="descBoxprod">We develop customized Web and Mobile Applications to meet the needs of our clients.
        </div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu3.png">
        <div class="descBoxprod">We provide the best service by creating technological solutions to improve the growth
          of your business.</div>
      </div>
      <div class="itemPr">
        <img class="imgItemPr" src="../../assets/images/autonomoNewPage/autonomo-illu4.png">
        <div class="descBoxprod">We have a high-level professional team in the technology industry.</div>
      </div>
    </div>
  </div>
  <div class="providesBox">
    <div class="provdesTitle">
      <div class="ourServtitle">SERVICES</div>
      <div class="servProvidesDesc">Our company provides</div>
    </div>
    <div class="providesBox1">
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service01.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Mobile App Development</div>
          <div class="contentdescTitlePrBox">
            We develop custom applications and integrations with existing applications. Drives the growth of your
            business.
          </div>
        </div>
        <div class="rightSignal">
          <div class="rightSig">
            <img src="../../assets/images/autonomoNewPage/rightFlecha.png">
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service02.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Cloud Hosting</div>
          <div class="contentdescTitlePrBox">
            Google Cloud and Amazon web Services.
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service03.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Create a store to sell online</div>
          <div class="contentdescTitlePrBox">
            We offer tailored stores, start selling online.
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service04.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Digital Marketing</div>
          <div class="contentdescTitlePrBox">
            Digital campaign system: Massive email and SMS sending, referral program.
          </div>
        </div>
      </div>
    </div>
    <div class="providesBox2">
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service05.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Manage your projects</div>
          <div class="contentdescTitlePrBox">
            Project Manager System: Hours and costs report, share activities with your work teams.
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service06.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Infrastructure</div>
          <div class="contentdescTitlePrBox">
            Build this Structure: Manage your servers, manage any networks.
          </div>
        </div>
      </div>
      <div class="itempb">
        <div class="imgBaseProd">
          <img class="imgBasePr" src="../../assets/images/autonomoNewPage/service07.png">
        </div>
        <div class="descriptionPrBox">
          <div class="descTitlePrBox">Business Intelligence</div>
          <div class="contentdescTitlePrBox">
            Apply a Big Data and analyze your information.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="our-method">
    <div class="imageMeth">Va la imagen</div>
    <div class="descMeth">Va la Descripcion de la metodologia</div>
  </div>
  <div class="ourWork">
    <div class="ourWorkDesc"> Our Work description</div>
    <div class="ourWorkImgs"> Imgenes</div>
  </div>
  <div class="contactBox">
    <div class="contectAdress">Datos de Dirección</div>
    <div class="sendus">Formulario</div>
  </div>
  <div class="footerFinal">
    <div class="logoF">Logo Autonomo</div>
    <div class="opcF">Opciones</div>
    <div class="copyF">Copyright</div>
  </div>
</div>