.containerAutonomoHome
    display: grid
    grid-template: 115px 510px 100px 205px 655px 1165px 440px 515px 610px 285px/ 1fr
.headerAutonomohome
    display: grid
    grid-template: auto/ 1fr minmax(540px, 1fr)
    background: linear-gradient(0deg, #0E8ECE, #0E8ECE)
.webMenu
    display: block
.mobileMenu
    display: none
.as-logo-princ
    width: 195px
.imgTablet, .descTablet, .curva, .iconsCarousel, .item, .provdesTitle
    border: 1px solid
.logoAuto
    padding-left: 50px
.automateBusiness
    border: 1px solid
    display: grid
    grid-template: auto/ 1fr minmax(540px, 1fr)
.autonomoIsBox
    border: 1px solid
    display: grid
    grid-template: 220px 430px/ 1fr
.autonomoisProducts
    display: grid
    justify-content: center
    grid-template: repeat(2, 130px) / 1fr 1fr 
    grid-gap: 55px 50px
.providesBox
    border: 1px solid
    display: grid
    grid-template: 230px 360px 450px / 1fr
.providesBox1
    border: 1px solid
    display: grid
    grid-template: auto / repeat(4, 300px)
    grid-gap: 0px 45px
    justify-content: center
.providesBox2
    border: 1px solid
    display: grid
    grid-template: auto / repeat(3, 300px)
    justify-content: center
    margin-top: 85px
    grid-gap: 0px 45px
.our-method
    border: 1px solid
    display: grid
    grid-template: auto / 510px 1fr 
.imageMeth, .descMeth, .ourWorkDesc, .ourWorkImgs, .contectAdress, .sendus, .logoF, .opcF, .copyF
    border: 1px solid
.ourWork    
    border: 1px solid
    display: grid
    grid-template: auto / 1fr 1fr 
.contactBox
    border: 1px solid
    display: grid
    grid-template: auto / 375px  1fr
.footerFinal
    border: 1px solid
    display: grid
    grid-template: 110px 55px 120px/ 1fr
@media only screen and (max-width: 768px)
    .mobileMenu
        display: block
    .webMenu
        display: none
    .containerAutonomoHome
        grid-template: 65px 555px 30px 105px 1100px 2860px 375px 675px 950px 200px/ 1fr
    .headerAutonomohome
        grid-template: auto/80% 20%
    .automateBusiness
        grid-template: auto auto/1fr
    .imgTablet
        grid-row: 2
    .descTablet
        grid-row: 1
    .autonomoisProducts
        grid-template: repeat(4, 200px)/1fr
        grid-gap: 30px
    .autonomoIsBox
        grid-template: 145px auto/1fr
    .providesBox
        grid-template: 210px auto auto/1fr
    .providesBox1
        grid-template: repeat(4, 330px)/1fr
        grid-row-gap: 70px
    .providesBox2
        grid-template: repeat(3, 330px)/1fr
        grid-row-gap: 70px
    .our-method    
        grid-template: 235px auto /1fr
    .ourWork
        grid-template: 360px auto /1fr
    .contactBox
        grid-template: 675px auto /1fr
    .contectAdress
        grid-row: 2
    .sendus
        grid-row: 1
    .footerFinal
        grid-template: auto auto auto/1fr
